@media (min-width: 48em)
    {
    .THIS .slds-modal__container {
        min-width: 80rem !important; 
    }
}
.THIS .bodyPaddingTop
{
    padding-top:0px;
}

.THIS .customItalics
{
    font-style: italic;
}