.THIS .textColor
{
    color:rgba(27, 82, 151, 1.0);
}
.THIS .alignProduct
{
    word-break:break-all !important;
    width:250px !important;
    white-space:unset !important;  
}
.THIS .alignProduct1{
     white-space:unset !important;  
}

/*slds-table_fixed-layout, .slds-table--fixed-layout  , .THIS .slds-table_fixed-layout*/