.THIS.c-container {
    border: 1px solid #d8dde6;
}
.THIS .custom-box {
}
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}  
.THIS .slds-required {
    color: rgb(255, 0,0);
    margin: 0 .125rem;
}
.THIS .slds-p-around_medium, .THIS .slds-p-around--medium{
	padding-left:1rem !important;
    padding-right:1rem !important;    
    padding-top:0.6rem !important;
    padding-bottom:0.2rem  !important;    
}
.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}