.THIS.slides-item {
}
.THIS .cstm-card{
    height:100%;
    border-radius: 10px;
    overflow-x:scroll;
}
.THIS .selected, .THIS .selected .slds-table{
   background: #eee;
}
.THIS .selected .slds-card__header{
    color: #04844b;
}
.THIS .cstm-icon{
    position:absolute;
    top: 5px;
    right: 10px;
}
.THIS .cstm-icon svg{
    fill:#04844b;
}
.THIS .align-left{
    text-align: right;
    color: red;
}
.THIS .slds-input{
   line-height: 4.075rem!important; 
    
}