.THIS .slds-lookup__Custom {
    background: white;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    z-index: 7000;
    position: absolute;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.25rem 0;
    box-sizing: border-box;
    font: 100% / 1.5 "Salesforce Sans", Arial, sans-serif;
    color: #16325c;
}

.THIS .slds-icon-text-default {
    fill: #ff555f !important;
}

.THIS .error {
    border-color: red;
}

.THIS .errorText {
    color: red;
}

.THIS .disabled2 .slds-pill-container {
    cursor: not-allowed;
    background-color: rgb(236, 235, 234);
}

.THIS .slds-hide {
    display: none;
}

.THIS .slds-pill .slds-button {
    position: absolute;
    right: 5px;
}

.THIS .slds-pill-container {
    position: relative;
}

.THIS .slds-pill {
    position: static !important;
}