.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}
.THIS .slds-has-error {

    border-color: rgb(194, 57, 52)!important;

}
.THIS .customLabel .slds-form-element .slds-form-element__label,.THIS .slds-form-element .slds-form-element__icon
{
    display:none;
}
@media (min-width: 48em){
.THIS .slds-modal__container{
    width: 250% !important;
    max-width: 55rem !important;
    }
}

.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}

.THIS .slds-p-around_small{
    padding:0.25rem  !important;
}

.THIS .customLabelSummary .slds-form-element .slds-form-element__label 
{
    display:none;
}


.THIS .slds-p-around_medium, .THIS .slds-p-around--medium{
	padding-left:1rem !important;
    padding-right:1rem !important;    
    padding-top:0.6rem !important;
    padding-bottom:0.2rem  !important;    
}