.THIS .slds-day {
    position: relative;
    display: inline-block;
    
}
.THIS .onlytSQSRM {margin-left: -2.8rem;}

.THIS .slds-button_neutral {
    padding-left:1.4rem;
    padding-right:1.4rem;
}
.THIS .marginstatus{
    
    margin-left:78px;
}
.THIS .marginBtn{
    margin-left:-2rem !important;
}
.THIS .applyPad{
    padding-right : 200px;
}
.THIS .toggle {
    display: none;
}
.THIS .slds-day .slds-popover__body.slds-popover_tooltip.bx-calendar-tooltip.slds-nubbin_left-top{
    visibility: hidden;

}

.THIS .slds-day .slds-popover__body.slds-nubbin_left-top {
    visibility: hidden;

}
.THIS .slds-day .slds-popover__body.slds-nubbin_left-top::after {
    content: "";
   
}
.THIS .slds-day .slds-popover__body.slds-nubbin_left-top::after {
    content: "";
   
}
.THIS .slds-day:hover .slds-popover__body.slds-nubbin_left-top {
visibility: visible;
    opacity: 1;
   
}
.THIS .slds-day:hover .slds-popover__body.slds-nubbin_left {
    visibility: visible;
    opacity: 1;
}
.THIS .hide{
    display:none;
}
.THIS .blackCol{
    color : black !IMPORTANT;
    font-size: 14px;
    font-weight: bold;
}
.THIS .line{
    border-bottom: 1px solid grey;
    
}
.THIS .textColor
{
    color:rgba(27, 82, 151, 1.0);
}