.THIS .active{
    background-color: #f4feff;
    border-left: 4px solid #2b4ce2;
}

.THIS .slds-card__body{
    margin-bottom:0;
}
.THIS .slds-card.compshadow {
    box-shadow: 0.1px 0.1px 0.1px 0.1px rgb(0,0,0);
    min-height: 70px;
    border-radius: 0;
    margin-bottom:20px;
    margin-top: 5px;
}


.THIS .GCIHeader{
    background-color:#54698d;
    border-color:#54698d; 
    height:35px;
    color:#ffffff;
    padding-top: 2px;
    padding-left: 10px;
}
.THIS .slds-card__header {
    padding:0;
}