.THIS.background_custm{
    height: 70px;
    background-color: #f3f2f2;
}

.THIS .right{
	float: right;
	padding: 12px;
}

.THIS .left{
	text-align: left;	
	vertical-align: -23px;
	padding: 10px;
}

.THIS .floatLeft{
	float:left;
}
.THIS .marginLeft20px{
	padding:6px;
}

.THIS .errorText {
	color: red;
}