.THIS .cstm-wrap .slds-form-element {
    display: inline-block;
}

.THIS .cstm-wrap .slds-form-element+.slds-form-element,
.THIS .cstm-wrap .slds-form-element+.slds-button {
    margin-left: 0.5rem;
}

.THIS .notification {
    background: #777;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    font-size: 0.6rem;
    display: block;
    text-align: center;
    line-height: 12px;
    color: #fff;
    top: 2px;
    right: 3px;
    font-weight: bold;
}

.THIS .notification.alert {
    background: red;
}

.THIS .header-colunm-width .slds-truncate {
    max-width: 100px;
}
.THIS a{
    color:#0f78d5 !important;
    /*font-family: calibri;*/
  	font-size: 14px;
}
.THIS .slds-tabs_scoped__link, .THIS .slds-p-around_small, .THIS .slds-table thead tr td, .THIS .slds-table tbody tr td{
	/*font-family: calibri !important;*/
	font-size: 14px !important;
}
.THIS .sf-top-row th{
  /*font-family: calibri;*/
  font-size: 14px;
  background-color:#808C8C !important;
  color:#FCFCFC !important;
}