.THIS.TxtSize{
   width:200px !important;
}
.THIS .no-border,.THIS .hidden-table:hover.no-border,.THIS tr:hover td tr:hover.no-border{
 border-top:none;
    border:0;
    background-color: none !important;
    border-left-color: none;
    border-right-color: none;
    border-top-color: none;
}
.THIS .width-currency {
     width: 65px;
 }