.THIS.slides-item {
}
.THIS .cstm-card{
    height:100%;
    border-radius: 10px;
}
.THIS .selected, .THIS .selected .slds-table{
    background: #eee;
}
.THIS .selected .slds-card__header{
    color: #04844b;
}
.THIS .cstm-icon{
    position:absolute;
    top: 5px;
    right: 10px;
}
.THIS .cstm-icon svg{
    fill:#04844b;
}
.THIS .adjustmentSumExist{
    color: #ff6600 !important;
}