<template>
    <!-- WHEN READONLY -->
    <template if:false={isNotReadonly}>
        {_valueToDisplay}
    </template>
    <template if:true={isNotReadonly}>
        <div data-div-id="parent-select-required" class="form-group">
            <!-- For now Label is handled in parent LWC -->
            <!--label class="slds-form-element__label" for="unique-id-of-input">
                <template if:true={_isFieldRequired}>
                    <abbr class="slds-required">*</abbr>
                </template> {label}
            </label-->
            <select data-div-id={inputId} 
                disabled={disabled}
                class="form-control input-sm" 
                onchange={handleKeyChange} 
                required ={_isFieldRequired}>
                <!--option value="">Please select</option-->
                <template for:each={picklistvalues} for:item="pickval" for:index="index">
                    <option key={pickval.apival} value={pickval.apival} selected={pickval.isdefault}>{pickval.labelval}</option>
                </template>
            </select>
            <div class="slds-hide" data-div-id="select-required">{errormessage}</div>
        </div>
        <template if:true ={error}>
            <template if:true ={error.details}>
                <template if:true ={error.details.body}>
                    {error.details.body.message}
                </template>
            </template>
        </template>
    </template>    
</template>