.THIS button.lineBreak {
    margin-top:22px;
}
.THIS button.expand
{
    width:100%;
}

/*.THIS .slds-table td{
    padding: .0rem .5rem !important;
}*/
.THIS .slds-table td{
       padding: 0.0rem 0.0rem .10rem .70rem!important;
}
.THIS tr:nth-child(even) {background-color: #f4fffb;}
.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}