.THIS .button{
    background-color : #00D26A;
    border : 1px solid #00D26A;
 
}
.THIS .button:focus
{
   background-color : #00D26A;
   border : 1px solid #00D26A;
}

.THIS .TableBorders{
   border-radius:25px;
}

.THIS .custom-combobox {
    position: relative;
    display: inline-block;
}
.THIS .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.THIS .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.THIS .deleteButton{
    border : none !important;
    color : RED;
}
.THIS .deleteButton:hover{
    border : none !important;
    color : RED;
}