.THIS{
    max-height: 100%;
    max-width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.THIS .cstm-width{
    max-width:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS button.slds-button.slds-button_brand {
    width: 100%;
    border-radius: 0px;
    height: 3.5rem;
    font-size: 1.1rem;
}
.THIS .approveBTNColour{
    background-color: green;
}
.THIS .rejectBTNColour{
    background-color: #ff6666;
}
.THIS .holdBTNColour{
    background-color: #e6e600;
}
.THIS .userSelectedCSS{
    background-color: #ffff99 !important;
}