.THIS .buttonFont{
    font-size:12pt;
}
.THIS .buttonTopPadding
{
    padding-top:0.55rem;
}
.THIS .errorText
{
    color:red;
}
.THIS.slds-card {
    border-radius:1px !important;
}
.THIS.body{
    font-family:Georgia;
}