.THIS .twitter-typeahead{
    width: 100% !important;
}
.THIS .tt-input{
    width: 100% !important;
}


.THIS .typeahead,
.THIS .tt-query,
.THIS .tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.THIS .typeahead {
    background-color: #fff;
}

.THIS .typeahead:focus {
    border: 2px solid #0097cf;
}

.THIS .tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.THIS .tt-hint {
    color: #999
}

.THIS .tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.THIS .tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 20px;
}

.THIS .tt-suggestion .tt-cursor {
    color: #fff;
    background-color: #0097cf;
    
}

.THIS .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.THIS  .tt-suggestion p {
    margin: 0;
}

.THIS .has-feedback {
    position: relative;
}

.THIS .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.THIS .has-feedback .form-control {
    padding-right: 42.5px;
}

.THIS .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.THIS .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.THIS .glyphicon-search:before {
    content: "\e003";
} 

@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}