.THIS {
}
.THIS .label-in-popover{
    font-size: 0.72rem;
    color: rgb(0, 112, 210);
}
.THIS .slds-page-header{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.THIS table.main-table>tbody>tr>td:first-child, .THIS table.main-table>thead>tr>th:first-child{
    border-left: 1px solid #ccc;
}
.THIS table.main-table>tbody>tr>td:last-child, .THIS table.main-table>thead>tr>th:last-child{
    border-right: 1px solid #ccc;
}

.THIS .slds-table_fixed-layout tbody, .THIS .slds-table--fixed-layout tbody {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
}
.THIS .slds-tabs_scoped__link, .THIS .slds-p-around_small, .THIS .slds-table thead tr td, .THIS .slds-table tbody tr td{
	font-family: calibri !important;
	font-size: 14px !important;
}
.THIS .sf-top-row th{
  font-family: calibri;
  font-size: 14px;
  background-color:#808C8C !important;
  color:#FCFCFC !important;
}
.THIS .sf-opty-prod-head th{
    background-color: #c4d4d4 !important;
	color: #5d5d5b;
    font-weight: bold;
    font-family: calibri;
    font-size: 14px;
}
.THIS .sf-opty-prod-main-row td{
    background-color: #DFF1F1 !important;
    color:#7f8483;
    font-family: calibri;
    font-size: 14px;
}

.THIS .sf-opty-prod-inner-row-head th{
    background-color: #E0E0E0 !important;
    color:#5D5D5B;
    font-family: calibri;
    font-size: 14px;
}
.THIS .sf-opty-prod-inner-row-body td{
    background-color: #FAFAFA !important;
    color:#878786;
    font-family: calibri;
    font-size: 14px;
}
.THIS a{
    color:#0f78d5 !important;
    font-family: calibri;
  	font-size: 14px;
}
.THIS .vicMainPanelheight{
    height: 60px;
}
.THIS .custm_vic_colm_width{
    width:220px;
}
.THIS .custm_vic_colm_olitcv_width{
    width:220px;
}
.THIS .custm-width-picklist{
    width: 150px;
}