.THIS .cspanel{
    
    width: 100%;
    display:table-cell;
    padding:0px 20px;
    vertical-align:top;
}

.THIS .min-Width{
    /*19-03-19: width:990px;*/
	width: 100%;
	/*06-12-18: width:840px;*/
}

.THIS .view{
	width:25%;
}