.THIS .blue {
    color: #007add;
}

.THIS .bodyPaddingTop
{
    padding-top:0px;
}
@media (min-width: 48em)
    {
    .THIS .slds-modal__container {
        min-width: 80rem !important; 
    }
}
.THIS .cardBody
{
    padding-bottom:20px;
}
.THIS .titleOpp{
    color:#142e54; 
    font-weight:400;    
}
.THIS .tabletitle{
    color:#617ba0;
}
.THIS .slds-text-title_caps{
    height:32px;
}