.THIS.popover-container{
    position:relative;
    z-index: 100;
}
.THIS .slds-popover{
    position:absolute;
    left: 120px;
    top: -68px;
}
.THIS .slds-popover__body{
    padding:0px;
}
.THIS .slds-popover{
    width: 42rem;
}