.THIS.container{
    background: #fff;
    padding: 0.5rem 0.25rem 2rem 0.25rem;
    
}
.THIS .cstm-heading .slds-text-heading_large{
    font-weight:bold;
}
.THIS .slds-text-heading_medium{
    font-weight:bold;
    padding-bottom: 5px;
}
.THIS .slds-card{
  	min-height: 100px;
}
.THIS.select-width{
    width:100px;
}