.THIS {
}
.THIS .cstm-buttons .slds-form-element__legend{
    display:none;
}
.THIS .cstm-buttons{
    display:block;
}
.THIS .cstm-buttons .slds-form-element{
    display:inline-block;
}
.THIS .cstm-buttons .slds-form-element .slds-radio{
    display:inline-block;
}
.THIS .cstm-buttons .slds-form-element .slds-radio .slds-form-element__label{
    padding-left: 10px;
}
.THIS .new_Incentive_CSS{
    margin-left: 9%;
}
.THIS .textarea{
    width: auto!important;
}
.THIS .comment_required{
    border-width: 2px !important;
    border-color: #df382c !important;
    background-color: #df382c !important;
    -webkit-box-shadow: 0px 0px 1px 1px #df382c;
    -moz-box-shadow: 0px 0px 1px 1px #df382c;
    box-shadow: 0px 0px 1px 1px #df382c;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.THIS .adjustmentSumExist{
    color: #ff6600 !important;
}