<template>
    <template if:true={isShowSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium" 
        variant="brand"></lightning-spinner>
    </template>
    <template if:true={showComponent}>
        <div class="pidHead">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead style="background-color:#fff;">
                            <tr>
                                <td colspan="2" class=" text-center">
                                    <a class="text-blue2 pull-left" title="Back" onclick={handleBackButton}>
                                        <img src={backImageUrl} style="width:20px; margin-top:10px;"/> 
                                    </a>  &nbsp;  
                                    <span style="color:#202c4b;">
                                        Workflow Request ID - ({pidObjToShow.workflowNumber})<br/><b>{pidObjToShow.name}</b>
                                    </span>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 50%;"><br/><b style="margin-top:10px;">PID Number :</b><br/> {pidObjToShow.oraclePID}</td>
                                <td style="width: 50%;"><br/><b style="margin-top:10px;">Customer Name :</b><br/> {pidObjToShow.customerName}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;"><b>SDO :</b><br/> {pidObjToShow.primarySDO}</td>
                                <template if:true={isIndirectPID}>
                                    <td style="width: 50%;"><b>Project Type :</b><br/> {pidObjToShow.projectNBillTypes}</td>
                                </template>
                                <template if:false={isIndirectPID}>
                                    <td style="width: 50%;"><b>Project Type/Billing Type :</b><br/> {pidObjToShow.projectNBillTypes}</td>
                                </template>                                
                            </tr>
                            <tr>
                                <td style="width: 50%;"><b>PID Status :</b><br/> {pidObjToShow.pidStatus}</td>
                                <td style="width: 50%;"><b>Project Dates :</b><br/> {pidObjToShow.projectDates}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;"><b>Pinnacle Work Flow Status :</b><br/> {pidObjToShow.workflowStatus}</td>
                                <td style="width: 50%;"><b>Oracle Sync Status :</b><br/> {pidObjToShow.oracleStatus}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;"><b>GPM :</b><br/> {pidObjToShow.gpmName}</td>
                                <td style="width: 50%;"><b>Current Working User :</b><br/> {pidObjToShow.currentWorkingName}</td>
                            </tr>
                        </tbody>
                    </table>
                    <template if:true={isShowApproveRejectButton}>
                        <!-- code for Approve/Reject the PIDs left -->
                        <div class="text-center btnDiv">
                            <button class="btn bg-blue btn-md btn-circle" onclick={handlePopupDisplay}>Approve / Reject</button> 
                        </div>
                    </template>                    
                </div>
            </div>
        </div>
        
        <!-- MODAL UI : style="display : none;" -->
        <div data-div-id="myApproveRejectModal" class="modal fade hide" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick={handlePopupDisplay}>&times;</button>
                        <h4 class="modal-title">Approve / Reject</h4>
                    </div>
                    
                    <div class="modal-body">
                        <template if:true={isPIDUser}>
                            <template if:true={isApprovalTypeApproved}>
                                <div class="row">
                                    <div class="col-md-4 text-left"><label>PID Stage</label></div>
                                    <div class="col-md-8">                                        
                                        <c-gp-l-w-c-custom-picklist
                                            input-id="pid_stage_input"
                                            objectname="" 
                                            fieldname=""
                                            label=""
                                            is-not-readonly=true
                                            is-field-required={pidStageRequired}
                                            errormessage="PID Stage is required."
                                            selected-value={strStageValue}
                                            picklist-value-set={lstProjectStage}
                                            ongppicklistselect={handleOnSelectCustomPicklist}>
                                        </c-gp-l-w-c-custom-picklist>
                                    </div>
                                </div>
                            </template>                            
                            <template if:false={isIndirectProject}>
                                <template if:false={projectObj.GP_Operating_Unit__r.GP_Is_GST_Enabled__c}>
                                    <template if:false={projectObj.GP_Service_Deliver_in_US_Canada__c}>
                                        <template if:false={projectObj.isAvalaraEnableApproval}>
                                            <div class="row">
                                                <div class="col-md-4 text-left"><label>Tax Code</label></div>
                                                <div class="col-md-8">
                                                    <c-gp-l-w-c-custom-lookup
                                                        search-input-id="tax_code_search"
                                                        object-name="GP_Pinnacle_Master__c"
                                                        searchfield="name"
                                                        label=""                                                        
                                                        is-field-required={taxCodeRequired}
                                                        is-not-readonly="true"
                                                        reference-id={taxCodeId}
                                                        iconname="custom:custom17"
                                                        filter-string="RecordType.Name = 'Tax Code Master' and GP_Status__c = 'Active'"
                                                        display-text-fields="Name"
                                                        search-placeholder-message="Search tax code name"
                                                        ongpselectrecord={handleOnSelectLookup}>
                                                    </c-gp-l-w-c-custom-lookup>
                                                </div>
                                            </div>
                                        </template>
                                    </template>
                                </template>
                                <div class="row">
                                    <div class="col-md-4 text-left"><label>Invoice Reports</label></div>
                                    <div class="col-md-8">
                                        <c-gp-l-w-c-custom-picklist
                                            input-id="report_to_input"
                                            objectname="GP_Project__c" 
                                            fieldname="GP_Reports__c"
                                            label=""
                                            is-not-readonly=true
                                            is-field-required={reportToRequired}
                                            errormessage="Please fill reports to proceed."
                                            selected-value={reports}
                                            ongppicklistselect={handleOnSelectCustomPicklistReports}>
                                        </c-gp-l-w-c-custom-picklist>
                                    </div>                                    
                                </div>
                                <template if:true={isGEPID}>
                                    <div class="row">
                                        <div class="col-md-4 text-left"><label>Product Code</label></div>
                                        <div class="col-md-8">
                                            <c-gp-l-w-c-custom-picklist
                                                input-id="product_code_input"
                                                objectname="" 
                                                fieldname=""
                                                label=""
                                                is-not-readonly=true
                                                is-field-required={productCodeRequired}
                                                errormessage="Please select product code for GE PIDs."
                                                selected-value={productCodeField}
                                                picklist-value-set={listOfProductCodes}
                                                ongppicklistselect={handleOnSelectCustomPicklistProductCode}>
                                            </c-gp-l-w-c-custom-picklist>
                                        </div>                                        
                                    </div>
                                </template>
                            </template>                            
                        </template>
                        <template if:false={isPIDUser}>
                            <template if:false={isIndirectProject}>
                                <template if:true={isGEPID}>
                                    <div class="row">
                                        <div class="col-md-4 text-left"><label>Product Code</label></div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <textarea class="form-control input-sm" disabled>{productCodeField}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </template>

                        <div class="row">
                            <div class="col-md-4 text-left"><label>Comments</label></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <textarea data-div-id="text_area_comments" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row modalBtns">
                            <div class="col-md-1 col-xs-12"></div>
                            <div class="col-md-11 text-center col-xs-12">
                                <button class="btn bg-blue btn-sm" onclick={handleApprovePID}>Approve</button> &nbsp; &nbsp; 
                                <button class="btn bg-white border-color-blue btn-sm" onclick={handleRejectPID}>Reject</button> 
                            </div>
                            <template if:true={isPIDUser}>
                                <template if:false={isRevenueStageValid}>
                                    <div class="text-center modalBottomLine col-md-12">
                                        <p class=" calibri">PID can not be set to approved stage if CRN status is not signed contract recieved.</p>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick={handlePopupDisplay}>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template if:false={showComponent}>
        <div style="width: 100%;
                text-align: center;
                height: 20px;
                font-weight: bold;">
                Loading the PIDs data.....</div>
    </template>
</template>