.THIS .slds-hide {
    display: none;
}
.THIS .hidelabel >.slds-form-element__label{
display:none;
}
.THIS.modal-header {
    background: white;
    padding: 1rem;
}

.THIS .block-input .slds-select {
    min-height: calc(2.125rem + 2px);
}

.THIS .block-input .slds-m-right--xxx-small,
.THIS .block-input .slds-grow {
    display: block;
}

.THIS .cstm-btn {
    background-color: #0f548c;
    color: #fff;
    border: none;
    border-right: 2px #fff solid;
}

.THIS.mrg-btm30 {
    margin-bottom: 30px;
}




/* For Firefox */

.THIS input[type='number'].hours {
    -moz-appearance: textfield;
}




/* Webkit browsers like Safari and Chrome */

.THIS input[type='number'].hours::-webkit-inner-spin-button,
.THIS input[type='number'].hours::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.THIS td.hours {
    text-align: center;
}

.THIS input[type='number'].hours {
    background-color: rgb(255, 255, 255);
    color: rgb(22, 50, 92);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    -webkit-transition: border .1s linear, background-color .1s linear;
    transition: border .1s linear, background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}

@media(min-width:1024px) {
    .THIS .top-mgn-mob {
        margin-top: -30px;
    }
}

@media(max-width:767px) {
    .THIS .gridblock-mob .slds-grid {
        display: block;
    }
    .THIS .cstm-btn {
        margin-bottom: 10px;
    }
}

.THIS label.inputLabel {
    font-weight: bold;
}

.THIS article.slds-card {
    border: 2px solid #0f548c;
}

.THIS .slds-lookup__Custom {
    width: 100%;
    border: 1px #ccc solid;
    box-shadow: 1px 7px 4px 0px #ccc;
    min-width: 200px;
}

.THIS .slds-lookup__Custom .slds-lookup__item>a:hover,
.THIS .slds-lookup__Custom .slds-lookup__item button:hover {
    background-color: #02adce;
    color: #fff;
}

.THIS .slds-lookup__Custom .slds-lookup__item a .slds-icon {
    display: none;
}

.THIS .cstm-modal {
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    height: auto;
    padding: 0px;
    border: 5px #ccc solid;
    border-radius: 0px;
}

.THIS .cstm-modal .slds-modal__header,
.THIS .cstm-modal .slds-modal__content {
    border-radius: 0px;
}

.THIS .genpactPrimaryText {
    color: #0f548c
}