.THIS .table_btn th  {
    border-top : none;
}
.THIS .actionbtn{float : left; padding-right:.5rem;}
.THIS .Approve{background-color : #95F3B1; width: 1%; line-height: 1.35;}
.THIS .Reject{background-color : #FF9D9D; width: 1%; line-height: 1.35;}
.THIS .Pending{background-color : #ffbf00; line-height: 1.7;}
.THIS .actionTblDiv {background-color : #e1e1e1;}
.THIS .actionTblDiv tr {background-color : #9e9e9e; line-height : 2;}
.THIS .actionTblDiv tr td {background-color : #9e9e9e; line-height : 1; padding-right:0px;}
.THIS .tableColor {background-color : #9e9e9e !important; line-height : 0; padding-right:0px;}
.THIS .tableBorder {border-top : none !important; padding-left:0px;}
.THIS.slds-page-header {padding:.5rem; border-radius:4px 4px 0 0; border:0px; background:#fff; padding-left : 1rem;}
.THIS.mainDiv {padding:1rem; background:#fff;}
.THIS table {border:1px solid #ccc;}
.THIS .rivewHeaderDiv {padding:.5rem; background-color : rgb(243, 242, 242) ;}
.THIS .rivewTitleTxt {font-size:20px;}
.THIS th a:hover{text-decoration:underline;}
.THIS .slds-button_brand {background-color : #0070d2; border-color :  #0070d2; color : #fff;}
.THIS .slds-button_brand:hover {background-color : #005fb2; border-color :  #005fb2; }

.THIS .iconBG {height: 1rem; width: 1rem; float: left; margin-left: .41rem; margin-right: .3rem; background-color : #737373; border-radius:14px;}
.THIS .slds-icon  {position: absolute; top: 7px; left: 8px; width: .8rem; height: .8rem;}
.THIS .iconBG1 .slds-icon  {top: 4px; left: 13px; width: 1.2rem; height: 1.2rem; margin-top: 2px;} 
.THIS .iconbg2{margin-top:3px;}
.THIS .iconBGRej{margin-top:-1px;}
.THIS .iconBGRej1{margin-top:1px;}