.THIS {
    background-color: white;
    padding: 1rem;
}
.THIS .non-editable {
    background-color: #e6e5e5;
}
.THIS .uiInputCheckbox {
    display: inline-block;
}
.THIS input[type="checkbox"] {
    cursor: pointer;
}

.THIS input[disabled] {
    cursor: not-allowed;
}

.THIS .changedRow {
    background-color: rgb(243, 208, 203);
}
.THIS .slds-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.THIS.error {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(194, 57, 52);
    border: 1px solid rgb(194, 57, 52);
    color: rgb(255, 255, 255);
}

.THIS .heading {
    text-transform: uppercase;
    font-weight: bold;
}

.THIS .header {
    font-size: 1.1em;
    background-color: rgb(181, 179, 179);
    color: black;
}
.THIS .sectionWrapper {
    padding-bottom: 15px;
}
.THIS .sectionHeader {
    padding-bottom: 10px;
    padding-top: 10px;
}

.THIS .table-fixed {
    table-layout: fixed;
}
.THIS .thead {
    font-size: 0.7rem;
    text-transform: initial;
    font-weight: bolder;
}
.THIS .header-icon {
    padding: 0 1.5rem 0 !important;
}

.THIS .disabled {
    color: gray;
    pointer-events: none;
}

.THIS .uiInputNumber {
    padding: 10px;
}

.THIS .fa-snowflake-o {
    color: #ea3946;
}

.THIS .defaultRow {
    height: 41px;
}