.THIS.popover-container{
    position:relative;
    z-index: 100;
}
.THIS .slds-popover{
    position:absolute;
    left: 120px;
    top: -70px;
    width: 30rem;
}
.THIS .slds-popover__body{
    padding:0px;
}