.THIS.popover-container{
    position:relative;
    z-index: 1200;
}
.THIS .slds-popover{
    position:absolute;
    left: 120px;
    top: -130px;
}
.THIS .slds-popover__body{
    padding:0px;
}
.THIS .slds-popover{
    width: 58rem;
}
.THIS .vic_height{
    height: 8px;
}