<template>
    <div class="divhead3 text-center">Approval History</div>
    <!-- MOBILE LIST TABLE-->
    <div class="table-responsive isMobileUIApprovalHistory">
        <!-- table class is removed to keep text wraped -->
        <table class="searchTable2 table-striped table-bordered  dt-responsive nowrap">
            <thead>
                <tr>
                    <th colspan="2" style="width: 50%;">Action</th>
                    <th style="width: 50%;">Assigned To</th>
                </tr>
            </thead>
            <tbody>
                <template for:each={approvals}
                    for:item="app">
                    <tr key={app.key}>
                        <td>
                            <span data-div-id={app.utilityRight} data-attribute-index={app.Id} onclick={handleTRShowHide}>
                                <lightning-icon icon-name="utility:chevronright" size="small"></lightning-icon>
                            </span>
                            <span data-div-id={app.utilityLeft} data-attribute-index={app.Id} onclick={handleTRShowHide} class="hide">
                                <lightning-icon icon-name="utility:chevrondown" size="small"></lightning-icon>
                            </span>
                        </td>
                        <td>{app.actionStep}</td>
                        <td>{app.assignedTo}</td>
                    </tr>
                    <tr key={app.Id} data-div-id={app.dateTr} class="hide">
                        <td>&nbsp;</td>
                        <td class="tdSub">
                            Date
                        </td>
                        <td style="text-align: left;">
                            {app.date}
                        </td>
                    </tr>
                    <tr key={app.Id} data-div-id={app.statusTr} class="hide">
                            <td>&nbsp;</td>
                        <td class="tdSub">
                            Status
                        </td>
                        <td style="text-align: left;">
                            {app.status}
                        </td>
                    </tr>
                    <tr key={app.Id} data-div-id={app.commentsTr} class="hide">
                            <td>&nbsp;</td>
                        <td class="tdSub">
                            Comments
                        </td>
                        <td style="text-align: left;">
                            {app.comments}
                        </td>
                    </tr>
                    <tr key={app.Id} data-div-id={app.actualApproverTr} class="hide">
                            <td>&nbsp;</td>
                        <td class="tdSub">
                            Actual Approver
                        </td>
                        <td style="text-align: left;">
                            {app.actualApprover}
                        </td>
                    </tr>
                    <tr key={app.Id} data-div-id={app.overAllStatusTr} class="hide">
                            <td>&nbsp;</td>
                        <td class="tdSub">
                            Overall Status
                        </td>
                        <td style="text-align: left;">
                            {app.overAllStatus}
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <!-- DESKTOP LIST TABLE-->
    <div class="table-responsive isDesktopUIApprovalHistory">
        <!-- serachTable tblView table table-striped table-bordered nowrapd -->
        <!--table class="searchTable2 display dataTable dtr-inline collapsed table table-striped table-bordered  dt-responsive nowrap"-->
        <table class="searchTable2 table table-striped table-bordered  dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assigned To</th>
                    <th>Date</th>
                    <th>Status</th>                    
                    <th>Comments</th>
                    <th>Actual Approver</th>
                    <th>Overall Status</th>
                </tr>
            </thead>
            <tbody>
                <template for:each={approvals}
                    for:item="app">
                    <tr key={app.key}>
                        <td>{app.actionStep}</td>
                        <td>{app.assignedTo}</td>
                        <td>{app.date}</td>
                        <td>{app.status}</td>
                        <td>{app.comments}</td>
                        <td>{app.actualApprover}</td>
                        <td>{app.overAllStatus}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>