.THIS {
}
.THIS .label-in-popover{
    font-size: 0.72rem;
    color: rgb(0, 112, 210);
}
.THIS .slds-tabs_scoped__nav{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.THIS .slds-page-header{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.THIS .slds-tabs_scoped__content{
    padding: 0px;
}
.THIS .slds-tabs_scoped__link, .THIS .slds-p-around_small, .THIS .slds-table thead tr td, .THIS .slds-table tbody tr td{
	font-family: calibri !important;
	font-size: 14px !important;
}
.THIS .sf-top-row th{
  font-family: calibri;
  font-size: 14px;
  background-color:#808C8C !important;
  color:#FCFCFC !important;
}
.THIS .sf-opty-prod-head th{
    background-color: #c4d4d4 !important;
	color: #5d5d5b;
    font-weight: bold;
    font-family: calibri;
    font-size: 14px;
}
.THIS .sf-opty-prod-row td{
    background-color: #fafafa;
    color:#878786;
    font-family: calibri;
    font-size: 14px;
}
.THIS a{
    color:#0f78d5 !important;
    font-family: calibri;
  	font-size: 14px;
}
.THIS .red {
    background-color: #FAC3C3;
}
.THIS .custm-width-picklist{
    width: 250px;
}