.THIS .slds-tabs--default__nav {
    border-color: #1e2c4c;
    padding-top: 5px;
}

.THIS .slds-tabs_default__link,
.THIS .slds-tabs--default__link {
    line-height: 15px !important;
    height: 46px!important;
    display: flex;
    align-items: center;
}

.THIS .slds-tabs--default__link span {
    color: #1e2c4c;
    font-size: 13px;
    text-transform: none;
    width: 100%;
    text-align: center;
}

.THIS .slds-active:after,
.THIS .slds-tabs--default__item:focus:after,
.THIS .slds-tabs--default__item:hover:after {
    background-color: transparent !important;
}

.THIS .slds-active .slds-tabs--default__link {
    background: #1e2c4c;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
}

.THIS .slds-active .slds-tabs--default__link span {
    color: #fff;
    font-weight: bold;
}

.THIS .slds-tabs--default__item {
    flex-grow: 1;
    text-align: center;
}

.THIS .slds-button:focus {
    outline: 0;
    box-shadow: none;
}

.THIS .unTouched {
    color: #1e2c4c;
}

.THIS .dirty {}

.THIS .approved {
    color: #07ce34;
}

.THIS .errorTab {
    border-color: #ff555f;
}

.THIS.errorTab a,
.THIS.errorTab a:hover,
.THIS.errorTab a:focus {
    background: #ff555f;
}

.THIS .fa-exclamation-circle {
    color: #ea3946 !important;
    font-size: 21px !important;
}

.THIS .slds-tabset li{
    display : none;
}
.THIS .slds-tabset li:first-child{
    display : block;
}
.THIS .slds-tabsetLabels{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 3px solid #e4e4e4;
}
.THIS .slds-tabsetLabels li{
    min-width: 150px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
    position: relative;
    top: 3px;
    cursor: pointer;
}
.THIS .slds-tabsetLabels li,
.THIS .slds-tabsetLabels li span{
    color: #444;
}
.THIS .slds-tabsetLabels li.li-active{
    border-bottom: 3px solid #0f548c;
}
.THIS .slds-tabsetLabels li.li-active,
.THIS .slds-tabsetLabels li.li-active span{
    font-weight: 800;
    color: #0f548c
}