.THIS .additionalMargin{
    margin-top:20px;
    word-wrap:break-word !important;
    max-width:110px !important;
}
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}
.THIS .showError
{
    color:red;
}
.THIS .slds-text-longform, .THIS .uiOutputRichText{
    margin-left:-140px !important;
}
.THIS .DatePicker .slds-form-element .slds-form-element__label
{
    display:none;
}
.THIS .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    margin-left: 30px;
     margin-right: 10px;
}
.THIS .slds-listbox 
{
    max-height: 120px;
}