.THIS .horizontalAlign {
    text-align: center;
}

.THIS .border-left {
    border-left: 1px solid #fff;
}

.THIS .noDifference {
    text-align: center;
}

.THIS .horizontalAlign {
    text-align: center;
}

.THIS .border-left {
    border-left: 1px solid #fff;
}

.THIS.change-summary .csrightpanel .cstm-opt-box {
    border: 2px solid #0f548c;
}

.THIS table.has-secondary-header thead tr:nth-child(2) {
    background: #ccc;
}

.THIS table td,
.THIS table th {
    text-align: center;
}

.THIS .summaryTable {
    width: 100%;
    overflow: auto;
}

.THIS .summaryTable table {
    table-layout: initial;
}