<template>
    <template for:each={listOfPaginatedRecords}
    for:item="d">
        <div key={d.key} data-div-id="change_summary_table" class="table-responsive">
            <table class="serachTable3 table-striped table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th style="width: 33%;">Field Name</th>
                        <th style="width: 33%;">New Value</th>
                        <th style="width: 33%;">Old Value</th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={d.details}
                    for:item="csts">
                        <tr key={csts.fieldName}>
                            <td class="tdSub">
                                {csts.fieldLabel}
                            </td>
                            <td>
                                {csts.newValue}
                            </td>
                            <td>
                                {csts.oldValue}
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <!-- PAGINATION FOR RELATED CHANGE SECTION -->
    <template if:true={islistNotEmpty}>
        <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination
            customrecordcount="5"
            list-of-original-records={details}
            ongpupdatedlistcustomevent={handleListUpdate}>
        </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
    </template>
</template>