<template>
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="divhead1" style="padding-top: 0px;">Projects Approval</div>
                <ul class="nav nav-tabs nav-tabs1 text-center calibri row">
                    <li data-div-id="All_Project_Div" class="active col-md-4 col-xs-4 col-sm-4">
                        <a onclick={clickAllPIDCountSection}>
                            <span>{allPIDCount}</span><br/>
                            All Projects
                        </a>
                    </li>
                    <li data-div-id="New_Created_Projects_Div" class="col-md-4 col-xs-4 col-sm-4">
                        <a onclick={clickNewPIDCountSection}>
                            <span>{newPIDCount}</span><br/>
                            Created Projects
                        </a>
                    </li>
                    <li data-div-id="Updated_Projects_Div" class="col-md-4 col-xs-4 col-sm-4">
                        <a onclick={clickUpdatedPIDCountSection}>
                            <span>{updatedPIDCount}</span><br/>
                            Updated Projects
                        </a>
                    </li>
                </ul>
                <!--div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-3 slds-text-align_center">
                        <p>
                            <span>{allPIDCount}</span><br />
                            <a onclick={clickAllPIDCountSection}>All Projects</a>
                        </p>
                    </div>
                    <div class="slds-col slds-size_1-of-3 slds-text-align_center">
                        <p>                        
                            <span>{newPIDCount}</span><br />
                            <a onclick={clickNewPIDCountSection}>Newly Created Projects</a>
                        </p>
                    </div>
                    <div class="slds-col slds-size_1-of-3 slds-text-align_center">
                        <p>
                            <span>{updatedPIDCount}</span><br />
                            <a onclick={clickUpdatedPIDCountSection}>Updated Projects</a>
                        </p>
                    </div>
                </div-->
            </div>    
            <!-- START : Home page PID list -->
            <c-gp-l-w-c-p-i-d-approver-home-page-list-view 
                current-filter-name={currentFilterName}
                list-of-filter-p-i-ds={listOfFilterPIDs}>
            </c-gp-l-w-c-p-i-d-approver-home-page-list-view>
            <!-- END : Home page PID list -->
        </div>        
    </section>    
</template>