.THIS .blue {
    color: #007add;
}
.THIS .rightSection{
    text-align: right  !Important;
}
.THIS .statusMargin{
    margin-left:78px;
}
.THIS{
    z-index:1;
}
.THIS .titleOpp{
    color:#142e54; 
    font-weight:400;    
}
.THIS .tabletitle{
    color:#617ba0;
    
}
.THIS .statusMargAction{
    margin-left:-2rem;
}
.THIS .slds-text-title_caps{
    height:32px;
}