.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS body{overflow:hidden;}
.THIS .lt50{
  background-color: #dff1f1;
}

.THIS .thead{display: block;  width: calc(100% - 1.0625rem);}
.THIS .tbody{display: block;  max-height: 390px; overflow-y: scroll;}
.THIS th{ width: 9%; /* to enable "word-break: break-all" */
  
 word-break: break-word;
}
.THIS td {width: 9%; /* to enable "word-break: break-all" */
  
  word-break: break-word;}
.THIS tr {
    display: table; /* display purpose; th's border */
  width: 100%;
}
.THIS .lt75{ background-color: #ddf2d9; }

.THIS .gt74{
  background-color: #ddf2d9;
}
.THIS .forecasttrBG {background-color : #808c8c !important; color : #fff; font-weight : bold;}
.THIS .slds-truncate label {display : none;}
.THIS .slds-text-heading--label {color : #333 !important;}
.THIS .forecast_btn{     margin-top: -44px;
    margin-left: 88%;
    position: absolute;
    background-color: rgb(0, 112, 210);
    width: 68px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px; border-color : rgb(0, 112, 210);}

.THIS .forecast_btn:hover{background-color: #298ee7; }
.THIS .clear_btn:hover{background-color: #298ee7; }
.THIS .updateforcast:hover{background-color: #298ee7; }
.THIS .exportDeals:hover{background-color: #298ee7; }
.THIS .exportDeals {background-color: rgb(0, 112, 210);}
.THIS .select2Class{cursor: context-menu;}
.THIS .ForcastTableFont{font-weight: normal;}

.THIS .updateforcast{
    background-color: rgb(0, 112, 210);
    width: 78px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;border-color : rgb(0, 112, 210);
    float: right; 
    margin-right: 1.5%;
}
.THIS .clear_btn {margin-top: -44px;
    margin-left: 94%;
    position: absolute;
    background-color: rgb(0, 112, 210);
    width: 68px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px; border-color : rgb(0, 112, 210);}
.THIS .totalTCV { background-color: #c9c5d5;    height: 21px;    float: left;    width: 98.7%;}