<template>
    <!-- NOT IN USE -->
    <tr>
        <td>
            {pidInfo.Name}
        </td>
        <td>
            {pidInfo.GP_Oracle_PID__c}
        </td>
        <td>
            {pidInfo.GP_EP_Project_Number__c}
        </td>
        <td>
            {pidInfo.GP_Current_Working_User__r.Name}
        </td>
        <td>
            <p><lightning-formatted-date-time value={pidInfo.GP_Project_Submission_Date__c}></lightning-formatted-date-time></p>            
        </td>
    </tr>
</template>