.THIS .uiInput--checkbox input[type=checkbox][disabled]:checked,
.THIS input.uiInput--checkbox[type=checkbox][disabled]:checked{
    background: #eee;
    /*color: #000!important;*/
    position:relative;
}

.THIS .uiInput--checkbox input[type=checkbox][disabled]:checked:after,
.THIS input.uiInput--checkbox[type=checkbox][disabled]:checked:after{
    font-family: FontAwesome;
    content: '\f00c';
    position: absolute;
    left: 2px;
    top: 2px;
    color: #ccc;
    font-size: 0.9rem;
}
/* ECR-HSN Changes */
.THIS .uiInput--radio {
    position: relative;
}

.THIS .uiInput--radio input[type=radio] {
    float: left;
    position: absolute;
    left: 0;
    top: 3px;
}

.THIS .radioLabel {
    cursor: pointer;
    padding-left: 21px;
    display: inline-block;
    font-weight: normal;
}

/* ECR-HSN Changes */