.THIS .desktop{
    
    text-size-adjust:none; 
    -webkit-text-size-adjust:none;
    font-size-adjust:none; 
    -webkit-font-size-adjust:none;    
}

.THIS *{
    box-sizing:border-box;
}
.THIS .fixedWidth
{
    min-width:130px !important;
}
.THIS .datePicker-openIcon
{
    margin-bottom:4px;
}
.THIS .changeStageBtn
{
    width:100%;
    padding-top:0px;
}
.THIS .redText
{
    color:#ff0000;
    
}
.THIS .fontSize
{
    font-size:12px;
    
}

.THIS .dateField{
    padding:0 14px 0 10px;
}
.THIS .padding
{
     padding: 5px 5px 0 10px;
    
}

@media  (max-width: 580px), (min-width: 371px)    
    {
    
    .THIS .stageCardDiv1{
        
        padding-top:1px !important;
    }
    .THIS .sepTopPadd{
        padding-top:8px !important;
    }
    .THIS .dateFollowUpPadding{
        margin-top: 0px !important;
        padding-left:12px !important;
        margin-left:-2px !important;
        padding-bottom:5px !important;
        padding-top:0px !important;
    }
    .THIS .stageFollowUpPadding{
        margin-top: 2px !important;
        padding-left:0px !important;
        margin-left:-2px !important;
        padding-bottom:5px !important;
        padding-top:0px !important;
    }
    
    .THIS .reminderBtn{
        padding:0px;
        margin-bottom:15px;
        font-size:12px;
        
    }
    .THIS .msaButton{
        padding-top:9px;
        
    }
    .THIS .changeStageBtn
    {
        
        padding-bottom:2px;
 }   
    .THIS .currPadding
    {
        padding: 0px 5px 0px 17px !important;
        margin-top: 6px !important;
        
    }
    .THIS .sepTopPadd{
        padding-top:8px !important;
        padding-bottom:0px !important;
    }
    .THIS .update_btn1
    {
        height:33px !important;
        
        
    }
    .THIS .inputDiv
    {
        max-height:33px !important;
        min-height:33px !important;
        padding:0 1rem 0 .2rem !important;
        
    }
    .THIS .dateField{
        padding:0 10px 0 2px;
        width:75% !important;
    }
    .THIS .cardTitle{
        padding-left:.80rem !important;
    }
    .THIS .fontSize
    {
        font-size:12px;
        
    }
    .THIS .redText
    {
        font-size:12px;
        margin-bottom:.9rem;
        padding-top:6px !important;
        
    }
    .THIS .cardTitleTxt{
        font-size:14px;
        font-weight:700 !important;
        padding-left:4px;
        text-align:left;
    }
    .THIS .slds-card__body 
    {
        margin-bottom:0px !important;
    }
    .THIS .padding
    {
        padding: 3px 5px 0 23px;
        
    }
    .THIS .dateBtn
    {
        margin-top:-16px;
        
    }
    .THIS .dateBtnStage
    {
        margin-top:-14px;
        padding-left:0px !important;
        padding-top:0px !important;
        
    }
    
    .THIS .stageCardDiv{
        padding-top:8px !important;
    }
    .THIS .slds-button_neutral {
        padding-left:0.3rem !important;
    }
    .THIS.section_line{
        background-color:#f8fdff;
    }
    .THIS .menuButton
    {
        margin-left: -14px;
 }
     .THIS .IofollowBtn{
         margin-top:0px !important;
        margin-bottom:-19px;
    }
      .THIS .msaButton{
        
        font-size:12px;
    }
     .THIS .msaFont{
        font-size:12px;
    } .THIS .stageRedTxt
    {
        font-size:12px;
        padding-left:0px;
        margin-top:-1.1rem;
        margin-bottom:1.2rem;
        color:#ff0000;
        
    }
    .THIS .cardTitleTxtStage{
        margin-left:2px !important;
        font-size:14px;
        margin-bottom:-5px;
        font-weight:bold;
        
    }
    
}
.THIS .update_btn1
{
    height:36px;
    
}
.THIS .menuButton
{
    margin-left: -12px;
}
.THIS.section_line{
    border-bottom:2px solid #d4d4d4;
    border-radius:0px;
    margin-top:0px;
}
.THIS header
{
    display: none;
}
.THIS .currencyOver{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrep;
}
.THIS .homeOppDiv{
    padding-top:0px;
    margin-top:-1rem;
}

.THIS .currPading1{
    padding-right:18px;
    padding-top: 7px;
}
@media (max-width:370px)   {

    .THIS .cardTitleTxtStage{
        margin-left:2px !important;
        font-size:14px;
        margin-bottom:-5px;
        font-weight:bold;
        
    }
    .THIS .cardTitle{
        padding-right:0rem !important;
    }
    .THIS .stageFollowUpPadding{
        margin-top: 2px !important;
        padding-left:0px !important;
        margin-left:-2px !important;
        padding-bottom:5px !important;
        padding-top:0px !important;
    }
    .THIS .sepTopPadd{
        padding-top:8px !important;
        padding-bottom:0px !important;
    }
    .THIS .reminderBtn{
        padding:0px;
        margin-bottom:15px;
        font-size:12px;
    }
     .THIS .cardTitleTxt{
        font-size:14px;
        font-weight:700 !important;
        padding-left:4px;
         text-align:left;
    }
    .THIS .IofollowBtn{
        margin-top:0px !important;
        margin-bottom:-19px;
    }
      .THIS .stageCardDiv{
        padding-top:8px !important;
    }
    .THIS .stageCardDiv1{
        
        padding-top:1px !important;
    }
    .THIS .msaButton{
        
        font-size:12px;
    }
    .THIS .msaFont{
        font-size:12px;
    }
    .THIS .fontSize
{
    font-size:12px;
    
}
     .THIS .redText
    {
        font-size:12px;
        margin-bottom:.9rem;
        padding-top:6px !important;
        
    }
     .THIS .stageRedTxt
    {
        font-size:12px;
         padding-left:0px;
        margin-top:-1.1rem;
        margin-bottom:1.2rem;
        color:#ff0000;
        
    }
}