.THIS .slds-popover__body {
    white-space: pre-line !important;
}
.THIS .slds-truncate .update-btn{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.THIS .overflowx-auto > .slds-card__header{
    display:none;
}
.THIS .customLookup .slds-lookup{ width: 88%; }
.THIS .w-mng-icn{
    width:87%;
}