<template>
    <template for:each={subTrDetails}
        for:item="field">
        <tr key={field.key} data-div-id={field.fieldTr} class="hide">
            <td>&nbsp;</td>
            <template if:true={field.isField}>
                <td class="tdSub" key={field.key}>
                    {field.fieldLabel}
                </td>
                <td style="text-align: left;" key={field.key}>
                    <template if:true={field.isCheckBox}>
                        <lightning-icon icon-name={field.iconname} size="small"></lightning-icon>
                    </template>                    
                    <template if:false={field.isCheckBox}>
                        <template if:true={field.viewDocument}>
                            <span data-div-id={field.value} data-attribute-index={field.value} onclick={navigateToContentDoc}>
                                <lightning-icon icon-name="standard:file" size="medium"></lightning-icon>
                            </span>
                        </template>
                        <template if:false={field.viewDocument}>
                            <div class="wrapCSS">{field.value}</div>
                        </template>                        
                    </template>                    
                </td>
            </template>
            <template if:true={field.isReference}>
                <td class="tdSub" key={field.key}>
                    {field.fieldLabel}
                </td>
                <td style="text-align: left;" key={field.key}>
                    <c-gp-l-w-c-custom-lookup
                        object-name={field.referenceName}
                        searchfield={field.searchfield}
                        disabled
                        referencetype={field.referencetype}
                        reference-id={field.value}
                        filter-string=""
                        iconname="custom:custom88"
                        display-text-fields={field.displayTextFields}
                        search-placeholder-message={field.placeholderValue}
                    >
                    </c-gp-l-w-c-custom-lookup>
                </td>
            </template>
            <!-- unchecked -->
            <template if:true={field.isNotChecked}>
                <td class="tdSub" key={field.key}>
                    {field.fieldLabel}
                </td>
                <td style="text-align: left;" key={field.key}>
                    <lightning-icon icon-name={field.iconname} size="large"></lightning-icon>
                </td>                                    
            </template>
            <!-- picklist -->
            <template if:true={field.isPicklist}>
                <td class="tdSub" key={field.key}>
                    {field.fieldLabel}
                </td>
                <td style="text-align: left;" key={field.key}>
                    <c-gp-l-w-c-custom-picklist
                        is-not-readonly={field.isNotReadonly}
                        selected-value={field.value}
                        objectname={field.objectname}
                        fieldname={field.fieldname}>
                    </c-gp-l-w-c-custom-picklist>
                </td>                                    
            </template>
        </tr>
    </template>
</template>