.THIS .cstm-wrap .slds-form-element{
     
}
.THIS .label-in-popover{
    font-size: 0.72rem;
    color: rgb(0, 112, 210);
}
.THIS .cstm-inherite{
     display: inherit;
}
.THIS .cstm-wrap .slds-form-element + .slds-form-element, .THIS .cstm-wrap .slds-form-element + .slds-button{
    margin-left:0.5rem;
}
.THIS .notification{
    background: #777;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    font-size: 0.6rem;
    display: block;
    text-align: center;
    line-height: 12px;
    color: #fff;
    top: 2px;
    right: 3px;
    font-weight: bold;
}
.THIS .notification.alert{
    background: red;
}
.THIS .header-colunm-width .slds-truncate{
    max-width:100px;
}
.THIS .slds-table_fixed-layout tbody, .THIS .slds-table--fixed-layout tbody {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
}

.THIS .slds-tabs_scoped__link, .THIS .slds-p-around_small, .THIS .slds-table thead tr td, .THIS .slds-table tbody tr td{
	font-family: calibri !important;
	font-size: 14px !important;
}
.THIS .sf-top-row th{
  font-family: calibri;
  font-size: 14px;
  background-color:#808C8C !important;
  color:#FCFCFC !important;
}
.THIS .sf-opty-prod-head th{
    background-color: #c4d4d4 !important;
	color: #5d5d5b;
    font-weight: bold;
    font-family: calibri;
    font-size: 14px;
}
.THIS .sf-opty-prod-main-row td{
    background-color: #DFF1F1 !important;
    color:#7f8483;
    font-family: calibri;
    font-size: 14px;
}

.THIS .sf-opty-prod-inner-row-head th{
    background-color: #E0E0E0 !important;
    color:#5D5D5B;
    font-family: calibri;
    font-size: 14px;
}
.THIS .sf-opty-prod-inner-row-body td{
    background-color: #FAFAFA !important;
    color:#878786;
    font-family: calibri;
    font-size: 14px;
}
.THIS a{
    color:#0f78d5 !important;
    font-family: calibri;
  	font-size: 14px;
}
.THIS .vicMainPanelheight{
    height: 60px;
}
.THIS .custm_vic_colm_width{
    width:220px;
}
.THIS .custm_vic_colm_olitcv_width{
    width:220px;
}