.THIS.slds-form-element__label {
    display: none !important;
    color: #54698d !important;
    font-size: .75rem !important;
    line-height: 0.5 !important;
    margin-right: 0.00rem !important;
    margin-bottom: .00rem !important;
}

.THIS abbr.slds-required {
    visibility: hidden !important;
}