.THIS .iconHalfOpacity{
    opacity:0.5;
}
.THIS .slds-button:hover, .THIS .slds-button:focus, .THIS .slds-button:active
{
    color:white;
}
.THIS .textMargin
{
    margin:-0.25rem 0rem;
}
.THIS .announcementBackground
{
    background-color:#54698d;
    border-color:#54698d; 
}