.THIS .dropdown {
    margin-top: -0.0rem; 
    width:8.7rem !important;
    white-space: nowrap; 
    overflow: hidden;
    overflow-y: hidden !important;
    text-overflow: ellipsis;
}

.THIS .ButtonAllign{
    float: right ;
    margin-right: 0.4rem !important;
    margin-top:-1.5rem;
    margin-bottom:1rem;
}

.THIS .ButtonDiv{
   padding-top:1rem;
    padding-right:1rem;
}

.THIS .fieldWidth{
   width:8.7rem;
}
.THIS .overflowControll {
   overflow-x: hidden;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .Recordperpagewidth{
     width:5.2rem;
    height:1.6rem;
}
.THIS .RecordperpageDropwidth{
     width:83px !important;
    
}
.THIS .beforeSelectionColour{
    color:#B2BABB;
}
.THIS .NoteClass{
padding-left: .7rem;
    margin-top: -2px;
    color: #950909;
    background: #f4f4f4;
    font-size: 12px;
}