<apex:page standardController="OpportunityProduct__c" Extensions="GENcEditOpportunityProduct" id="thePage" tabStyle="Opportunity" > <!-- recordSetVar="rec" -->
<head>
<script>
var olddatevalue = "{!opportunityProduct.RevenueStartDate__c}";

 function ChangeServiceLine(Obj)
 {
 //alert(Obj.value)
    if(Obj.value != '')
    {
       // alert(Obj.value)
        ServiceLineAct();
    }
 }
</script> 
 </head>   
    <style>
        #the_box {
      border:1px solid #CFE5EC;
      margin-top:5px;
      width: 80px;
    }
    .box_header {
      padding: 5px 5px;
      font-weight: bold;
      color: #fff;
      background-color: #1797C0;
      float:left;
      width:70px;
    }
    .box_text {
      text-align: left;
      padding:32px 5px 5px 5px;
      
    } 
    </style>
    
    <script>
     function CorrectTCV(Obj) {
        var mystring = Obj.value;
        var res = mystring.replace(/,/g , "");
        Obj.value = res;
        TCV_change(Obj.value);
        }
    </script>
                        
    <apex:sectionHeader title="Manage Products" subtitle="{!theOpportunity.Name}"/>

      
                     <script>
                      function confirmClearValues(val) {
                            if (confirm('This will delete the entire Revenue Profile (Rolling Monthly Split), Are you Ok?' )) 
                                Clearvalues(val);

                        }
                                             </script>
    <apex:form >
            <apex:pageblock id="theBlock1" mode="edit">
                <apex:outputPanel id="pagemessage">
                <apex:pageMessages ></apex:pageMessages>
                </apex:outputPanel>
                <apex:pageBlockButtons id="PageButtons" location="top" >
                    <apex:commandButton value="Save" action="{!saveLineItem}" disabled="{!Not(SaveButtonEnable)}"/>
                    <apex:commandButton value="Cancel" action="{!cancel}" />
                </apex:pageBlockButtons>
           </apex:pageblock> 

        <apex:pageBlock id="hidden" rendered="false"></apex:pageBlock>
        <apex:pageblock title="Product & Revenue" mode="edit" id="theBlock">
            <apex:pageBlockSection title="Opportunity Header Information" collapsible="false">  
                
                <apex:pageBlockSectionItem helptext="Denotes the name that the user would assign to the opportunity to allow for easy recollection in case of any need" >
                <apex:outputLabel value="Opportunity Name" /> 
                <apex:outputField value="{!opportunityProduct.Opportunityid__c}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                <apex:outputLabel value="Opportunity ID" /> 
                <apex:outputField value="{!opportunityProduct.OpportunityId__r.Opportunity_ID__c}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the Account under which the Opportunity is being created" >
                <apex:outputLabel value="Account Name (L4)" /> 
                <apex:outputField value="{!opportunityProduct.OpportunityId__r.AccountId}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the relevant stage in the opportunity life cycle. It could start with '1.Discover' and progresses until the deal gets closed as either '6.Signed Deal' or '7.Lost' or 8.Dropped'" >
                <apex:outputLabel value="Stage" /> 
                <apex:outputField value="{!opportunityProduct.OpportunityId__r.StageName}"/> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the proposed vertical that the account would align to examples are BFS , Manufacturing , Hi-Tech etc" >
                <apex:outputLabel value="Industry Vertical" />              
                <apex:outputField value="{!opportunityProduct.OpportunityId__r.Industry_Vertical__c  }"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the total contract value of the deal in USD. It is computed as the sum of the TCV of the respective line items." >
                <apex:outputLabel value="TOTAL ACV($)" /> 
                <apex:outputField value="{!opportunityProduct.Total_ACV__c}" label="TOTAL ACV($)" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the member of the account team who is leading the deal pursuit and who will get complete credit in the even of a favorable outcome" >
                <apex:outputLabel value="Opportunity Owner" /> 
                <apex:outputField value="{!opportunityProduct.OpportunityId__r.Ownerid}" label="Opportunity Owner"/>  
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>


            <apex:pageblock title="Product & Revenue" mode="edit" id="theBlock" >
                    <div style="display:none">
                    <apex:inputField value="{!prodcat.Industry_vertical__c}"/>
                    </div>
                
                <apex:pageblocksection title="Product Header Information" id="ajaxrequest"  columns="2">
                    

                    <apex:pageBlockSectionItem helptext="Denotes Capability pool which will be leveraged in order to deliver the solution" >
                    <apex:outputLabel value="Product Family" > </apex:outputLabel>
                    <apex:actionRegion >
                        <!-- <apex:inputField value="{!prodcat.Service_Line_Category__c}" required="true">
                    <apex:actionSupport event="onchange" action="{!disableProduct}" reRender="ProductFamilyInput,pren,ServiceLineField" status="ServiceLineCategoryLoading"/>
                    <apex:actionStatus id="ServiceLineCategoryLoading" >
                                    <apex:facet name="start">
                                        <apex:image value="/img/loading32.gif" style="height:15px" />
                                    </apex:facet>
                    </apex:actionStatus>
                    </apex:inputField>-->
                    
                    <div class="requiredInput">
                    <div class="requiredBlock"></div> 
                        <apex:selectList id="Input1" size="1" value="{!ProductFamily_frm_obj}" multiselect="false" style="width:200px" required="true"  >     
                            <apex:selectOptions value="{!ProductFamily_frm_obj_lst}"/>
                            <apex:actionSupport event="onchange" action="{!ServiceLine_lst}" reRender="Input2" status="productLoading"/>
                            
                            <apex:actionStatus id="productLoading">
                                <apex:facet name="start">
                                    <apex:image value="/img/loading32.gif" style="height:15px" />
                                </apex:facet>
                            </apex:actionStatus>  
                        
                        </apex:selectList> 
                </div>
                    </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                    
                    <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Product Number" /> 
                    <apex:outputField value="{!opportunityProduct.Product_Autonumber__c}" /> 
                    </apex:pageBlockSectionItem>

                    <apex:pageBlockSectionItem helptext="Denotes the appropriate service line showcasing Service leveraged (depends on the Product Family)" >
                    <apex:outputLabel value="Service Line"> </apex:outputLabel>
                    <apex:actionRegion >
                        <!--- me---->
                    <!--<apex:inputField id="ServiceLineField" value="{!prodcat.Service_Line__c}" required="true" onchange="ChangeServiceLine(this)">
                        
                    <apex:actionfunction name="ServiceLineAct" id="ServiceLineAct" action="{!ProductFamilyFromCatalog}" reRender="ProductFamilyInput,pren" status="ServiceLineLoading">
                    </apex:actionfunction>
                    <!--<apex:actionSupport event="onchange" action="{!disableProduct}" reRender="pren" status="ServiceLineLoading"/>
                     <apex:actionStatus id="ServiceLineLoading" >
                                    <apex:facet name="start">
                                        <apex:image value="/img/loading32.gif" style="height:15px" />
                                    </apex:facet>
                    </apex:actionStatus>
                    </apex:inputField>-->
                    
                    <div class="requiredInput">
                    <div class="requiredBlock"></div> 
                        <apex:selectList id="Input2" size="1" value="{!Serviceline_frm_obj}" multiselect="false" style="width:200px" required="true"   >     
                            <apex:selectOptions value="{!Serviceline_frm_obj_lst}"/>
                            <apex:actionSupport event="onchange" action="{!ProductFamilyFromCatalog}" reRender="ProductFamilyInput" status="productLoading"/>
                            
                            <apex:actionStatus id="productLoading">
                                <apex:facet name="start">
                                    <apex:image value="/img/loading32.gif" style="height:15px" />
                                </apex:facet>
                            </apex:actionStatus>  
                        
                        </apex:selectList> 
                </div>
                
                    </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                    
                    <apex:pageBlockSectionItem helptext="Denotes the Horizontal Sales Rep (if applicable) helping sell this SL and Product.">
                        <apex:outputLabel value="Product BD Rep" id="renderservice2"/>
                        <apex:inputField value="{!opportunityProduct.SalesExecutive__c}" required="true"/>
                    </apex:pageBlockSectionItem>
                    
                   
                    <apex:pageBlockSectionItem helpText="Denotes Type of work to be delivered (Delivery or Consulting)">
                        <apex:outputLabel value="Nature Of Work" />
                        <apex:actionRegion >
                         <div class="requiredInput">
                            <div class="requiredBlock"></div>  
                                <apex:selectList id="ProductFamilyInput" size="1" value="{!SelectedProductFamily}" multiselect="false" style="width:200px;" disabled="{!disableProductFamily}">     
                                    <apex:selectOptions value="{!ProductFamilyLst}"/>
                                     <apex:actionSupport event="onchange" action="{!ProfilesOptionsFetch}" reRender="pren" status="productLoading"  oncomplete="reRenderDigital();" />
                                <apex:actionFunction name="reRenderDigital" reRender="digital"/>                                                                                                
                                                                                                         
                                    <apex:actionStatus id="productLoading">
                                        <apex:facet name="start">
                                            <apex:image value="/img/loading32.gif" style="height:15px" />
                                        </apex:facet>
                                    </apex:actionStatus>  
                                </apex:selectList> 
                            </div>

                        </apex:actionRegion>
                    </apex:pageBlockSectionItem> 
                    <apex:pageBlockSectionItem helptext="Denotes the contract term or duration of the project production delivery within the opportunity defaulted to overall opp contract term but should be edited if product revenue term is different from deal term">
                    <apex:outputLabel value="{!$ObjectType.OpportunityProduct__c.Fields.ContractTerminmonths__c.Label}"/>
                    <!--Contract Term -->
                        <apex:actionRegion >
                            <apex:inputField value="{!opportunityProduct.ContractTerminmonths__c}" required="true" onchange="confirmChangeContractTerm(this);">
                                <apex:actionfunction name="contractTerm_update" action="{!revenuedate_update}"  status="contracttermLoading" rerender="      productSchedule,productionRevenue,theBlock1, Transition Revenue, Transition Revenue,pagemessage,FTE ">
                                        <apex:param name="contractTerm" value="" assignTo="{!opportunityProduct.ContractTerminmonths__c}"/> 
                                </apex:actionfunction>
                                    <apex:actionStatus id="contracttermLoading">
                                        <apex:facet name="start">
                                            <apex:image value="/img/loading32.gif" style="height:15px" />
                                        </apex:facet>
                                    </apex:actionStatus>
                            </apex:inputField>  
                        </apex:actionRegion>
                    
                </apex:pageBlockSectionItem>

                    
                 <apex:pageBlockSectionItem helptext="Denotes the Product to be consumed in providing service basis the solution">
                        <apex:outputLabel value="Product" for="ps" id="renderproduct"> </apex:outputLabel>
                        <apex:actionregion > 
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>  
                                <apex:selectList id="pren" size="1" value="{!opportunityProduct.Product__c}" multiselect="false" style="width:200px;" disabled="{!disableProductFlag}">     
                                    <apex:selectOptions value="{!ProfilesOptions2}"/>
                                    <!--<apex:actionSupport event="onchange" reRender="ajaxrequest,DeliveryOrg" status="skillSetLoading"/>-->
                                    <apex:actionStatus id="skillSetLoading">
                                        <apex:facet name="start">
                                            <apex:image value="/img/loading32.gif" style="height:15px" />
                                        </apex:facet>
                                    </apex:actionStatus>  
                                </apex:selectList> 
                            </div>
                        </apex:actionregion>
                    </apex:pageBlockSectionItem>                                
                                                                            
                                                    
                                                                                                                      
                                                     
                                            
                                                
                    
                    <apex:pageBlockSectionItem helptext="Denotes the Level 1 of the P&L organisation which would deliver this product within the opportunity">
                        <apex:outputLabel value="Delivering Organisation" />
                        <apex:actionRegion id="DeliveryOrg">
                            <apex:inputField value="{!opportunityProduct.COE__c}" required="true">
                             <apex:actionSupport event="onchange"  reRender="FTE" status="PrioritytypeLoading"/>
                                <apex:actionStatus id="PrioritytypeLoading">
                                    <apex:facet name="start">
                                        <apex:image value="/img/loading32.gif" style="height:15px" />
                                    </apex:facet>
                                </apex:actionStatus>
                                 </apex:inputField>  
                        </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                    
                    <!--Derivative code for Analytics offerings -->  
                <apex:pageBlockSectionItem helpText="Is Any of Genpact ’s Analytics Offering is included in this Product." >
                    <apex:outputLabel value="Analytics Offering" />
                    <apex:actionRegion >
                        <apex:inputField value="{!opportunityProduct.Analytics__c}" required="true">
                           
                         </apex:inputField>    
                   </apex:actionregion>
                </apex:pageBlockSectionItem>
                    
                    
                    <apex:pageBlockSectionItem helptext="Denotes the Level 2 of the P&L organisation which would deliver this product within the opportunity displayed based on relevant selection of the Level 1">
                        <apex:outputLabel value="Sub Delivering Organisation" />
                        <apex:actionRegion >    
                            <apex:inputField value="{!opportunityProduct.P_L_SUB_BUSINESS__c}" required="true">
                                <!--<apex:actionSupport event="onchange"  reRender="marginFields,DeliveryOrg" status="PrioritytypeLoading"/>-->
                                <apex:actionStatus id="PrioritytypeLoading">
                                    <apex:facet name="start">
                                        <apex:image value="/img/loading32.gif" style="height:15px" />
                                    </apex:facet>
                                </apex:actionStatus>
                            </apex:inputField>    
                        </apex:actionregion>
                    </apex:pageBlockSectionItem>
                    
                    
                    
                
                    <!--Derivative code for Digital ofeerings Oct 1 2015-->
                     <apex:pageBlockSectionItem helptext="Is any of Genpact’s Digital Offerings included in this service line/Product">
                    <apex:outputLabel value="Digital Offerings" />
                    <apex:actionRegion >
                        <apex:inputField value="{!opportunityProduct.Digital_Offerings__c}" required="true">
                           <apex:actionSupport event="onchange" action="{!showdigitalOptions}"  reRender="digitalAssets" status="PrioritytypeLoading"/>
                            <apex:actionStatus id="PrioritytypeLoading">
                                <apex:facet name="start">
                                    <apex:image value="/img/loading32.gif" style="height:15px" />
                                </apex:facet>
                            </apex:actionStatus>
                        </apex:inputField>    
                   </apex:actionregion>
                </apex:pageBlockSectionItem>
                    
                </apex:pageBlockSection>

            <apex:pageblocksection title="Revenue Profile (Rolling Monthly Split)" id="productionRevenue">
                <apex:pageblocksectionItem helptext="Denotes the currency that is applicable on all billing milestones (production and transition) on the product within the opportunity">
                    <apex:outputlabel value="{!$ObjectType.OpportunityProduct__c.Fields.LocalCurrency__c.Label}"></apex:outputlabel>
                    <apex:panelGroup >  
                                 
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <script type="text/javascript">
                                function confirmChangeRevenueDate(Obj) {
                                     if(confirm('The revenue profile (Rolling Monthly Split) would change on account of the change in Revenue Start Date to'+ ' ' + Obj.value+ '.'+' ' + 'Are you sure?')){
                                     revenuedate_update(Obj.value);
                                         olddatevalue = Obj.value;
                                         }
                                         
                                         else{
                                        var today = new Date("{!opportunityProduct.RevenueStartDate__c}");
                                       
                                        var dd = today.getDate();
                                        var mm = today.getMonth()+1; //January is 0!
                                    
                                        var yyyy = today.getFullYear();
                                        if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} 
                                        var today22 = mm+'/'+dd+'/'+yyyy;
                                        Obj.value = today22;
                                       
                                         
                                         }
                                
                                }
                       </script>
                       
                       <script type="text/javascript">
                                    function confirmChangeContractTerm(Obj) {
                                    var a =parseInt(Obj.value);
                                    if(((Obj.value) % 1 == 0) && (a>0)){
                                         if(confirm('The revenue profile (Rolling Monthly Split) would change on account of the change in Contract Term to'+ ' ' + Obj.value+ '.'+' ' + 'Are you sure?')){
                                                contractTerm_update(Obj.value);
                                            } 
                                             else{
                                             Obj.value="{!opportunityProduct.ContractTerminmonths__c}";
                                             
                                         
                                         }
                                         }
                                          else
                                         alert('Please enter Integer value in the "Contract Term(in months)" field');
                                    
                                    }
                     </script>

                            <apex:actionRegion >
                                <apex:selectList size="1" value="{!opportunityProduct.LocalCurrency__c}" multiselect="false" >     
                                    <apex:selectOptions value="{!CurrencyIsoCodes}" /> 
                                    <apex:actionsupport event="onchange" action="{!showConvertedValue}" reRender="productSchedule,productionRevenue,transitionRevenue,theBlock1, Transition Revenue, Transition Revenue,pagemessage,digitaltcvlabel,digitalcyrlabel,digitalnyrlabel" status="currencyLoading"/>                   
                                    <apex:actionStatus id="currencyLoading">
                                        <apex:facet name="start">
                                            <apex:image value="/img/loading32.gif" style="height:15px" />
                                        </apex:facet>
                                    </apex:actionStatus>
                                </apex:selectList>
                            </apex:actionRegion>
                           <!-- <apex:outputLabel value="Service Line Category Test" id="renderservice1" style="display:none;visibility hidden"> </apex:outputLabel>
                            <apex:inputField id="servLineCat" value="{!opportunityProduct.Service_Line_Category__c}"  required="false" style="display:none;visibility hidden"/> -->                      </div>
                    </apex:panelGroup>
                </apex:pageblocksectionItem>
               
                <apex:pageBlockSectionItem helptext="Denotes the Revenue Start Date of the respective Product and SL offering in the Opportunity.">
                    <apex:outputLabel value="{!$ObjectType.OpportunityProduct__c.Fields.RevenueStartDate__c.Label}"/>
                   <apex:actionRegion >
                        <apex:inputField value="{!opportunityProduct.RevenueStartDate__c}" required="true" onchange="confirmChangeRevenueDate(this);">
                            <apex:actionfunction name="revenuedate_update" action="{!revenuedate_update}"  status="revenuestartdateLoading" rerender=" productSchedule,pagemessage">
                                <apex:param name="revenuedate" value="" assignTo="{!opportunityProduct.RevenueStartDate__c}"/> 
                            </apex:actionfunction>
                             <apex:actionFunction name="Clearvalues" action="{!getRevenueRollingYear}" rerender="productSchedule,productionRevenue,theBlock1, Transition Revenue ">   
                                 <apex:param name="del_index" value="" assignTo="{!revenueRollingYearIndex}" />
                             </apex:actionFunction>
                            <apex:actionStatus id="revenuestartdateLoading">
                                <apex:facet name="start">
                                     <apex:image value="/img/loading32.gif" style="height:15px" />
                                </apex:facet>
                            </apex:actionStatus>
                        </apex:inputField>  
                    </apex:actionRegion>
               
                </apex:pageBlockSectionItem>
               <!-- <apex:pageBlockSectionItem helptext="Denotes the contract term or duration of the project production delivery within the opportunity defaulted to overall opp contract term but should be edited if product revenue term is different from deal term">
                    <apex:outputLabel value="{!$ObjectType.OpportunityProduct__c.Fields.ContractTerminmonths__c.Label}"/>
                    <!--Contract Term -->
                       <!-- <apex:actionRegion >
                            <apex:inputField value="{!opportunityProduct.ContractTerminmonths__c}" required="true" onchange="confirmChangeContractTerm(this);">
                                <apex:actionfunction name="contractTerm_update" action="{!revenuedate_update}"  status="contracttermLoading" rerender="      productSchedule,productionRevenue,theBlock1, Transition Revenue, Transition Revenue,pagemessage,FTE ">
                                        <apex:param name="contractTerm" value="" assignTo="{!opportunityProduct.ContractTerminmonths__c}"/> 
                                </apex:actionfunction>
                                    <apex:actionStatus id="contracttermLoading">
                                        <apex:facet name="start">
                                            <apex:image value="/img/loading32.gif" style="height:15px" />
                                        </apex:facet>
                                    </apex:actionStatus>
                            </apex:inputField>  
                        </apex:actionRegion>
                    
                </apex:pageBlockSectionItem>-->

                 <!--TCV-->
                  <apex:pageBlockSectionItem helptext="Denotes the total production revenue for the product within the opportunity">
                    <apex:outputLabel value="TCV ({!opportunityProduct.LocalCurrency__c})"/>
                    <apex:panelgroup >
                            <apex:actionRegion >           
                                <apex:inputField value="{!opportunityProduct.TCVLocal__c}" id="unitprice" label="TCV" required="true" onchange="CorrectTCV(this);">
                                    <apex:actionfunction name="TCV_change" action="{!checkTcvValue}"  status="TCVLoading" rerender="productschedule,productionRevenue,theBlock1, Transition Revenue, Transition Revenue,pagemessage">
                                        <apex:param name="TCV" value="" assignTo="{!opportunityProduct.TCVLocal__c}"/> 
                                    </apex:actionfunction>
                                        <apex:actionStatus id="TCVLoading">
                                            <apex:facet name="start">
                                                 <apex:image value="/img/loading32.gif" style="height:15px" />
                                            </apex:facet>
                                        </apex:actionStatus>
                                </apex:inputField>                                 
                            </apex:actionRegion>                     
                    </apex:panelgroup>
                </apex:pageBlockSectionItem> 

            </apex:pageBlockSection>
            <apex:outputPanel id="productSchedule">
                <apex:pageBlock mode="maindetail" rendered="{!hasScheculeSectionRendered}" > 
                   <!--<apex:pagemessages ></apex:pagemessages>-->
                    <apex:pageBlockSection collapsible="false" columns="1">                    
                        <apex:repeat value="{!revenueRYWrapperList}" var="rs">
                            <apex:pageBlockSectionItem rendered="{!NOT(rs.hasAutoPopulateDisabled)}" >
                                <apex:outputlabel for="revenueOne" rendered="{!IF((rs.rollYear==2 && (rollingyearrevenue1==Null || rollingyearrevenue1==0)),false,true)}" >Revenue For Rolling Year {!rs.rollYear}({!opportunityProduct.LocalCurrency__c}) </apex:outputlabel>                        
                                <apex:panelgroup >
                                    <div class="requiredInput">
                                        <div class="requiredBlock"></div>
                                        <apex:actionregion >                                                        
                                            <apex:inputField value="{!rs.revSchedule.RollingYearRevenueLocal__c}" rendered="{!IF((rs.rollYear==2 && (rollingyearrevenue1==Null || rollingyearrevenue1==0)),false,true)}" />                            
                                            <apex:commandButton value="Auto Split" action="{!createSchedule}" reRender="productSchedule,theBlock1" disabled="{!rs.hasAutoPopulateDisabled}" rendered="{!IF((rs.rollYear==2 && (rollingyearrevenue1==Null || rollingyearrevenue1==0)),false,true)}" >
                                                <apex:param name="index{!rs.index}" value="{!rs.index}" assignTo="{!revenueRollingYearIndex}" />                        
                                            </apex:commandButton>
                                            <apex:actionStatus id="R1Loading">
                                                <apex:facet name="start">
                                                    <apex:image value="/img/loading32.gif" style="height:15px" />
                                                </apex:facet>
                                            </apex:actionStatus>
                                        </apex:actionregion> 
                                    </div>
                                </apex:panelgroup>                        
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem rendered="{!rs.hasAutoPopulateDisabled}" helptext="Denotes the product production revenue in rolling Year {!rs.rollYear}">
                                <apex:outputlabel for="revenueOne">Revenue For Rolling Year {!rs.rollYear}({!opportunityProduct.LocalCurrency__c}) </apex:outputlabel>                        
                                <apex:panelgroup >
                                    <apex:actionregion >                                                        
                                            <apex:outputField value="{!rs.revSchedule.RollingYearRevenueLocal__c}" />     
                                                                   
                                    </apex:actionregion> 
                                </apex:panelgroup>                        
                            </apex:pageBlockSectionItem>
                            <apex:pageblockSectionItem >
                                <apex:pageBlock mode="maindetail" rendered="{!rs.hasAutoPopulateDisabled}">
                                    <apex:pageBlockButtons location="bottom">
                                        <apex:actionStatus id="editStatus">
                                            <apex:facet name="stop">
                                                <apex:actionregion >
                                                   <apex:commandButton value="Edit Product Schedule" status="editStatus" rendered="{!IF(AND(isEditScheduleClicked == 'Yes',revenueRollingYearToEdit == rs.index), false, true)}" reRender="productSchedule">
                                                        <apex:param value="Yes" name="editSchedule{!rs.index}" assignTo="{!isEditScheduleClicked}" />
                                                        <apex:param name="editIndex{!rs.index}" value="{!rs.index}" assignTo="{!revenueRollingYearToEdit}" />
                                                    </apex:commandButton>
                                                </apex:actionregion>
                                            </apex:facet>
                                            <apex:facet name="start">
                                                <apex:outputPanel >
                                                    <apex:image value="/img/loading32.gif" style="height: 15px;padding:0px 0px 0px 15px"/>                                          
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:actionStatus>
                                        <apex:actionStatus id="deleteStatus">
                                            <apex:facet name="stop">
                                            </apex:facet>
                                            <apex:facet name="start">
                                                <apex:outputPanel >
                                                    <apex:commandButton value="Delete" disabled="true" />                                          
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:actionStatus>
                                    </apex:pageBlockButtons> 
                                    <table cellspacing="5">
                                        <tr>
                                            <apex:repeat value="{!rs.scheduleList}" var="ps" >                                
                                                <td >                                    
                                                    <div id="the_box" style="float:left;">
                                                        <div class="box_header">
                                                            {!ps.formatedDate}
                                                        </div>
                                                        <div class="box_text" >
                                                            <apex:actionRegion >
                                                                <apex:outputText value="{!opportunityProduct.LocalCurrency__c} {0, number, ###,###,###,###.00}" rendered="{!IF(AND(isEditScheduleClicked == 'Yes',revenueRollingYearToEdit == rs.index), false, true)}">
                                                                    <apex:param value="{!ps.prodSchedule.RevenueLocal__c}"/> 
                                                                </apex:outputText>
                                                                <apex:inputField style="width:50px" value="{!ps.prodSchedule.RevenueLocal__c}" rendered="{!IF(AND(isEditScheduleClicked == 'Yes',revenueRollingYearToEdit == rs.index), true, false)}" >
                                                                <apex:actionSupport event="onchange" action="{!updateSchedule}" reRender="productSchedule"/>                                            </apex:inputField> 
                                                            </apex:actionRegion>                                        
                                                        </div>
                                                    </div>
                                                </td>
                                            </apex:repeat>
                                        </tr>
                                    </table>
                                </apex:pageBlock>
                            </apex:pageblockSectionItem>                    
                        </apex:repeat> 
                    </apex:pageBlockSection>
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton value="Clear entire Product Schedule" rendered="{!showClearValuesBtn}"  onclick="confirmClearValues(''); return false;" rerender="productSchedule,productionRevenue,theBlock1, Transition Revenue ">
                        </apex:commandButton>
                        </apex:pageBlockButtons>             
                </apex:pageBlock>
            </apex:outputPanel>
                
            
            <apex:pageblocksection title="Digital Assets Information" id="digitalAssets">
                <apex:pageBlockSectionItem helptext="Denotes the Digital Asset to be consumed in providing service basis the solution" rendered="{!renderAssetsFlag}">
                    
                    <apex:outputLabel value="Digital Assets" for="ps" id="renderassets" > </apex:outputLabel>
                    <apex:actionregion > 
                        <div class="requiredInput">
<div class="requiredBlock"></div>
                        <apex:selectList id="digital" label="Digital Assets" size="5" value="{!digitalAsset_lst}" multiselect="true" required="true"  disabled="{!disableAssetsFlag}">     
                            <apex:selectOptions value="{!DigitalAssetsOptions}"/>
                            <!-- <apex:actionSupport event="onchange" reRender="ajaxrequest,DeliveryOrg" status="skillSetLoading"/>-->
                            <apex:actionStatus id="skillSetLoading">
                                <apex:facet name="start">
                                    <apex:image value="/img/loading32.gif" style="height:15px" />
                                </apex:facet>
                            </apex:actionStatus>  
                        </apex:selectList> 
                        </div>
                    </apex:actionregion>        
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the total production revenue for the Digital Assets within the Opportunity" rendered="{!renderAssetsFlag}" >
                    
                    <apex:outputLabel id="digitaltcvlabel" value="Digital TCV ({!opportunityProduct.LocalCurrency__c})"/>
                    
                    
                    <apex:panelgroup >
                        <apex:actionRegion >              
                            <apex:inputField value="{!opportunityProduct.Digital_TCV__c}" id="digitaltcv" label=" Digital TCV" required="true" >
                                
                                <!--<apex:actionSupport event="onchange" action="{!getRevenueRollingYear}" rendered="{!IF((rollingyearrevenue1!=null),false,true)}"    rerender=" CurrencyPanel,productSchedule,productionRevenue,theBlock1, Transition Revenue" status="TCVLoading"/>-->
                                
                            </apex:inputField>                                 
                        </apex:actionRegion> 
                    </apex:panelgroup>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the current year revenue for the Digital Assets within the Opportunity" rendered="{!renderAssetsFlag}">
                    
                    <apex:outputLabel id="digitalcyrlabel" value="Digital CYR ({!opportunityProduct.LocalCurrency__c})"/>
                    
                    
                    <apex:panelgroup >
                        <apex:actionRegion >              
                            <apex:inputField value="{!opportunityProduct.Digital_CYR__c}" id="digitalcyr" label="Digital CYR" required="true"  >
                                
                                <!--<apex:actionSupport event="onchange" action="{!getRevenueRollingYear}" rendered="{!IF((rollingyearrevenue1!=null),false,true)}"    rerender=" CurrencyPanel,productSchedule,productionRevenue,theBlock1, Transition Revenue" status="TCVLoading"/>-->
                            </apex:inputField>                                 
                        </apex:actionRegion> 
                    </apex:panelgroup>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Denotes the next year revenue for the Digital Assets within the Opportunity" rendered="{!renderAssetsFlag}">
                    
                    <apex:outputLabel id="digitalnyrlabel" value="Digital NYR ({!opportunityProduct.LocalCurrency__c})"/>
                    
                    
                    <apex:panelgroup >
                        <apex:actionRegion >              
                            <apex:inputField value="{!opportunityProduct.Digital_NYR__c}" id="digitalnyr" label="Digital NYR" required="true"  >
                                
                                <!--<apex:actionSupport event="onchange" action="{!getRevenueRollingYear}" rendered="{!IF((rollingyearrevenue1!=null),false,true)}"    rerender=" CurrencyPanel,productSchedule,productionRevenue,theBlock1, Transition Revenue" status="TCVLoading"/>-->
                                
                            </apex:inputField>                                 
                        </apex:actionRegion> 
                    </apex:panelgroup>
                </apex:pageBlockSectionItem>
                
            </apex:pageblocksection>


                
            <apex:outputPanel id="FTE">
            <apex:pageblocksection title="Full Time Employees (FTE) (Mandatory on '3.On Bid' Stage)">
                <apex:inputField value="{!opportunityProduct.FTE__c}" required="false" rendered="{!IF((opportunityProduct.COE__c!='CMITS'),true,false)}" />
                <apex:inputField value="{!opportunityProduct.Quarterly_FTE_1st_month__c}" required="false" rendered="{!IF((opportunityProduct.COE__c=='CMITS'),true,false)}" />
                <apex:inputField value="{!opportunityProduct.FTE_4th_month__c}" required="false" rendered="{!IF(AND((opportunityProduct.COE__c=='CMITS'),(opportunityProduct.ContractTerminmonths__c>3)),true,false)}"/>                
                <apex:inputField value="{!opportunityProduct.FTE_7th_month__c}" required="false" rendered="{!IF(AND((opportunityProduct.COE__c=='CMITS'),(opportunityProduct.ContractTerminmonths__c>6)),true,false)}"/>   
                <apex:inputField value="{!opportunityProduct.FTE_10th_month__c}" required="false" rendered="{!IF(AND((opportunityProduct.COE__c=='CMITS'),(opportunityProduct.ContractTerminmonths__c>9)),true,false)}"/>   
                <apex:inputField value="{!opportunityProduct.DeliveryLocation__c}" required="false"/>
            </apex:pageBlockSection>
            </apex:outputPanel>

                
        </apex:pageBlock>

       </apex:pageBlock>
         
    </apex:form>
    
    
</apex:page>