<!--
// this page is called on click of make me tower lead button
// current user will become the owner of DSR Record

// --------------------------------------------------------------------------------------------- 
// Version#     Date             Author                  Description
// ---------------------------------------------------------------------------------------------
// v1        03-10-2016       Rishi Kumar              
// --------------------------------------------------------------------------------------------- 
-->
<apex:page standardController="GW1_DSR__c" extensions="GW1_MakeDSROwnerController" action="{!changeOwner}" sidebar="false" showHeader="false">
<apex:stylesheet value="{!URLFOR($Resource.genpact, '/CSS/bootstrap.min.css')}" />

   <Style> 
   .notify {
    background-color:#e3f7fc; 
    color:#555; 
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.2em;
    padding:10px 10px 10px 10px;
    margin-top: 2cm;
    
    cursor: default;
  }

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: #ffecec; border-color: #fad9d7; }
.notify-green { background: #e9ffd9; border-color: #D1FAB6; }

.btn-cstm{
    background-image: none;
    background-color: #fe6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    margin-top: 15px;
        
        
    }
    .btn-cstm:hover,
    .btn-cstm:active,
    .btn-cstm:focus{
    color:#fff;
    background-color:#fc6c0c;
    }


   </style>
   
   <Apex:form id="IdForm" style="padding:10px;">
       
          <apex:outputText style="Width:50px; word-break:break-all ; margin-top: 2cm;" value="{!StrError}"></apex:outputText><br></br><br></br>
          <apeX:commandButton styleclass="btn-cstm" action="{!cancel}"  value="Cancel"/>
   </apex:form>
   
   

</apex:page>