<apex:page docType="html-5.0" standardController="Expert__c" extensions="InternalExpertSearchExtensionV2" showHeader="false" sidebar="false" standardStylesheets="false" > 
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/jquery.min.js')}" />   
    <apex:stylesheet value="{!URLFOR($Resource.genpact, '/CSS/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.genpact, '/CSS/dataTables.bootstrap.min.css')}" />
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/bootstrap.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/jquery.dataTables.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/dataTables.bootstrap.min.js')}" />
    
    <script>
    
    function chkmobile()
    {
        if("{!$User.UITheme}" == "Theme4t")
        {
            document.getElementById('searchdiv').style.display = 'block';
        }
    }

    function createpagination()
    {
        if("{!$User.UITheme}" == "Theme4t")
        {
            $("#collapse1").collapse('hide');
            $("#collapse2").collapse('show');
        }
        else
        {
            $("#collapse1").collapse('hide');
            $("#collapse2").collapse('show');
        }
        $(document).ready(function() 
        {   
            document.getElementById("searchdiv").style.display = 'block';
            $('#idResultTable').DataTable();

        } );
       
        
        
    }
    
    onload=createpagination;
    </script>
    <script>
    
        $(document).ready(function() 
        {
            if("{!$User.UITheme}" == "Theme3")
            {
            //alert(document.getElementById("expertheader"));
                document.getElementById("expertheader").style.display='block';
                document.getElementById("topbutton").style.display='none';
            }
        } );
    </script>
    
  <style>

    .errorMessage
    {
    color:#990000;
    padding: 5px 15px;
    margin: 10px;
        
    }
    .Processing
    {
    position: fixed;
    background: url({!URLFOR($Resource.loadingIcon)});
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1004;
    left: 0%;
    top: 0%;
    }
    .btn-cstm{
    background-image: none;
    background-color: #fe6600;
    color: #fff;
    border: none;
    padding: 5px 15px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    margin: 10px;
        
        
    }
    .btn-cstm:hover,
    .btn-cstm:active,
    .btn-cstm:focus{
    color:#fff;
    background-color:#fc6c0c;
    }
    .cstm-panel-body{
    background-color: #fff;
    }
    .mgtop10{margin-top:10px;}
    .panel-heading.cstm-heading{
    background-color:#1797C0;
    color:#fff;
    font-size:0.9em;
    }
    .f-sizelg{
    font-size:30px;     
    position: fixed;
    top: 40%;
    left: 50%;
    background-color:rgba(255,255,255,0.5);
    width:30px;
    height:30px;
    z-index: 1004;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    -o-border-radius:60px;
    border-radius:60px;
    }
        
    .cstm-heading a{display:block;} 
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:none;}
    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{text-decoration:none;}
    .inline15_mgn{position:relative;}
    .inline15_mgn .form-group{margin-right:15px;}
    
    .control-label {padding-top: 6px !important;}
    .d{display:none;}
    body{font-size:12px; !important;}
    .btn-info {
    color: #fff;
    background-color: #1797C0;
    border-color: #1797C0;
}
    /* .squaredFour */
    .squaredFour {
        width: 40px;
        position: relative;
        margin: 20px auto;
    }
        .squaredFour label {
            width: 20px;
            height: 20px;
            cursor: pointer;          
        }
            
    
        });

    /* end .squaredFour */
           </style>


 <apex:form styleClass="form-horizontal" id="test1">
    <div class="f-sizelgcontent">
        <apex:actionStatus id="statusProcessing" startStyleClass="Processing"/>
    </div>

    <div class="panel-group" id="accordion">
        <apex:pageMessages id="errors" />
        
      <!--  <div class="panel panel-default" id="expertheader" style="display:none;">
            <div class = "row">
                <div class="col-sm-12 col-lg-12 ">
                <apex:outputlink target="_blank" value="/">
                    <img class="img-responsive" src="{!URLFOR($Resource.homeimage2, '/homeimage/homeimage/promoter.png')}" alt="Home" />
                </apex:outputlink>
                </div>
            </div>
        </div>-->
        
        
        <div class="panel panel-default">
            <div class="panel-heading cstm-heading" id="criteria">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="chkmobile();"><b>Search Parameters</b></a>
                </h4>
            </div>
     
  <!--  <div class="row" >
    <div class=" text-center  col-xs-6 col-sm-6 col-lg-6" style="text-align:right !important;">
    <apex:commandButton id="topsearchbutton" value="Search" action="{!runSearch}" reRender="test1" oncomplete="createpagination();" styleClass="btn btn-info" status="statusProcessing"/>
    
    </div>
    <div class=" text-center  col-xs-6 col-sm-6 col-lg-6" style="text-align:left !important;">
    
    <apex:commandButton value="Reset" action="{!reset}" styleClass="btn btn-info"/>
    </div>
    </div>-->
   <br/>
    <div class="row" >
    
        <!--<div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="expertType" class="col-md-6 control-label">Expert Type</label>
              <div class="col-md-6">
                    <apex:selectList id="expertType" value="{!experttypevar}" size="1" >
                        <apex:selectOptions value="{!expertType}"></apex:selectOptions>
                    </apex:selectList>
              </div>
           </div>
        </div>-->  
                        <div class="col-sm-6 col-lg-6 col-xs-6">
                            <div class="form-group">
                                <label for="expertname" class="col-md-6 control-label">Expert Name</label>
                                    <div class="col-md-6">
                                        <apex:actionregion >
                                            <apex:inputText value="{!expertname}" id="name">
                                            <c:autoComplete autocomplete_textbox="{!$Component.name}" objectname="Expert__c" fieldname="Name" />
                                            </apex:inputText>
                                        </apex:actionregion>
                                    </div>
                            </div>
                        </div>
                        
                         <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="industryvertical" class="col-md-6 control-label">Industries</label>
                        <div class="col-md-6">
                        <apex:actionregion >
                                <apex:selectList id="industryvertical" value="{!industryverticalvar}" size="5" multiselect="True">
                                    <apex:selectOptions value="{!industryvertical}" ></apex:selectOptions>
                                </apex:selectList>
                        </apex:actionregion>        
                </div>
            </div>
        </div>   
          <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="prodfamily" class="col-md-6 control-label">Product Family</label>
    <div class="col-md-6">
                    <apex:actionregion >
                        <apex:selectList id="prodfamily" value="{!prodfamilyvar}" size="5" multiselect="True">
                            <apex:selectOptions value="{!prodfamily}"></apex:selectOptions>
                        </apex:selectList>
                    </apex:actionregion>
              </div>
           </div>
        </div>          
        
                   
       <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="serviceLine" class="col-md-6 control-label">Service Line</label>
    <div class="col-md-6">
                <apex:actionregion >
                    <apex:selectList id="serviceLine" value="{!serlinevar}" size="5" multiselect="True">
                        <apex:selectOptions value="{!serviceLine}"></apex:selectOptions>
                    </apex:selectList>
                </apex:actionregion>    
                </div>
            </div>
        </div>
                               
                      
                   
        <!--<div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="product" class="col-md-6 control-label">Product</label>
    <div class="col-md-6">
                 <apex:actionregion >   
                    <apex:selectList id="product" value="{!productvar}" size="5"  style="width:250px;" multiselect="True">
                        <apex:selectOptions value="{!product}"></apex:selectOptions>
                    </apex:selectList>
                 </apex:actionregion>   
                </div>
            </div>
        </div>-->
    
      <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="geoserved" class="col-md-6 control-label">Geography served</label>
    <div class="col-md-6">
                <apex:actionregion >
                    <apex:selectList id="geoserved" value="{!geoservedvar}" size="5"  style="width:250px;" multiselect="True">
                        <apex:selectOptions value="{!geoserved}"></apex:selectOptions>
                    </apex:selectList>
                </apex:actionregion>    
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="subindustryvertical" class="col-md-6 control-label">Industry Sub-Vertical</label>
            <div class="col-md-6">
                 <apex:actionregion >   
                    <apex:selectList id="subindustryvertical" value="{!subindustryverticalvar}" size="1"  style="width:250px;" multiselect="false">
                        <apex:selectOptions value="{!subindustryvertical}"></apex:selectOptions>
                    </apex:selectList>
                 </apex:actionregion>   
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="subindustryvertical" class="col-md-6 control-label">Department</label>
            <div class="col-md-6">
                 <apex:actionregion >   
                    <apex:selectList id="Dept" value="{!Deptvar}" size="1"  style="width:250px;" multiselect="false">
                        <apex:selectOptions value="{!DepartmentVal}"></apex:selectOptions>
                    </apex:selectList>
                 </apex:actionregion>   
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="subindustryvertical" class="col-md-6 control-label">Designation</label>
            <div class="col-md-6">
                 <apex:actionregion >   
                    <apex:selectList id="Jobtitle" value="{!Jobtitlevar}" size="1"  style="width:250px;" multiselect="false">
                        <apex:selectOptions value="{!JobTitleVal}"></apex:selectOptions>
                    </apex:selectList>
                 </apex:actionregion>   
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                           <!-- <label for="subindustryvertical" class="col-md-6 control-label">Office Location</label>-->
            <div class="col-md-6">
                   
                </div>
            </div>
        </div>
        
                <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="subindustryvertical" class="col-md-6 control-label">Office Location</label>
            <div class="col-md-6">
                 <apex:actionregion >   
                    <apex:selectList id="OfficeLoc" value="{!Officelocvar}" size="1"  style="width:250px;" multiselect="false">
                        <apex:selectOptions value="{!OfficeLocaVal}"></apex:selectOptions>
                    </apex:selectList>
                 </apex:actionregion>   
                </div>
            </div>
        </div>
    
      </div>
    </div>
          </div> 
          
           <div class="row" >
    <div class=" text-center  col-xs-6 col-sm-6 col-lg-6" style="text-align:right !important;">
    <apex:commandButton id="searchbutton" value="Search" action="{!runSearch}" reRender="test1" oncomplete="createpagination();" styleClass="btn btn-info" status="statusProcessing"/>
   
    </div>
    <div class=" text-center  col-xs-6 col-sm-6 col-lg-6" style="text-align:left !important;">
    
    <apex:commandButton value="Reset" action="{!reset}" styleClass="btn btn-info"/>
    </div>
    <br/>
    <br/>
    <br/>
    
          <div class="panel panel-default"  id = "searchdiv" style="display:none;">    

            <div class="panel-heading cstm-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>Search Results</b></a>
                </h4>
            </div>
    <div id="collapse22" class="panel-collapse collapse in">
    <div class="panel-body cstm-panel-body">

    <div class="table-responsive" id="results">
    <table class="table table-hover" id="idResultTable" >
    <thead>
                            <tr>
                                <!--<th>Expert Type</th>-->
                                <th>Expert Name </th>
                                <th>Industry Vertical</th>
                                <th>Product Family</th>
                                <th>Service Line</th>
                                <!--<th>Product</th>-->
                                <!--<th>Expert Request</th>-->
                              
                            </tr>
    </thead>
    <tbody>
            <apex:repeat value="{!experts}" var="expertsvar"> 
            <tr>
              
               <!--<td>
                 <apex:outputField value="{!expertsvar.Expert_Type__c}"/>
                 </td>-->
                  <td>
                <apex:outputlink target="_blank" value="/{!expertsvar.id}">{!expertsvar.Name}</apex:outputlink> 
                </td>
                <td>
                 <apex:outputField value="{!expertsvar.Industrial_Vertical__c}"/>
                 </td>
                 <td>
                 <apex:outputField value="{!expertsvar.Product_Family__c}"/>
                 </td>
                  <td>
                 <apex:outputField value="{!expertsvar.Service_Line__c}"/>
                 </td>
                 
                 <!-- <td>
                 <apex:outputField value="{!expertsvar.Product__c}"/>
                 </td>-->
                 
                 <!--<td>
                 <a href="https://genpactonline.sharepoint.com/sites/CFO/GenIE/SitePages/Request%20a%20GenIE.aspx?qs=60/expid={!expertsvar.id}/IV={!expertsvar.Industrial_Vertical__c}/PF={!expertsvar.Product_Family__c }/SL={!expertsvar.Service_Line__c}/Geo={!expertsvar.Geo_Served__c}" target="_blank">Request this expert</a>
               
                 </td>-->
                 
                  
                
                </tr>   
            </apex:repeat>  
    </tbody>      
    
       </table>


    </div>
     </div>
            </div>
</div>
</div>
 </apex:form>
           
           
   </apex:page>