<apex:page standardController="opportunity" recordSetVar="opportunities">
    <apex:includeLightning />
    <div style="width:100%;height:100%;" id="FlipcardContainer" />
    <script>
    
    $Lightning.use("c:OpportunityDiscoverComponentApp", function() {
        $Lightning.createComponent("c:OpportunityNewDiscover",
                                   { 
                                       
                                   },
                                   "FlipcardContainer",
                                   function(cmp) {
                                       $A.eventService.addHandler({
                                           event: 'force:navigateToSObject',
                                           handler: function(event) {
                                               if (sforce && sforce.one) {
                                                   var sObjectId = event.getParam("recordId");
                                                   sforce.one.navigateToSObject(sObjectId, 'detail');
                                               }
                                           }
                                       })    
                                   });
    });
    </script>
</apex:page>