<apex:page docType="html-5.0" standardController="Promoter_info__c" extensions="PromoterSearchController" showHeader="false" sidebar="false" standardStylesheets="false" > 
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/jquery.min.js')}" />   
    <apex:stylesheet value="{!URLFOR($Resource.genpact, '/CSS/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.genpact, '/CSS/dataTables.bootstrap.min.css')}" />
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/bootstrap.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/jquery.dataTables.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.genpact, '/JS/dataTables.bootstrap.min.js')}" />
    
    
    <script>
    
    function chkmobile()
    {
        if("{!$User.UITheme}" == "Theme4t")
        {
            document.getElementById('searchdiv').style.display = 'none';
        }
    }

    function createpagination()
    {
        if("{!$User.UITheme}" == "Theme4t")
        {
            $("#collapse1").collapse('hide');
            $("#collapse2").collapse('show');
        }
        else
        {
            $("#collapse1").collapse('show');
            $("#collapse2").collapse('show');
        }
        $(document).ready(function() 
        {
            if("{!$User.UITheme}" == "Theme3")
            {

                document.getElementById("promoterheader").style.display='block';
                document.getElementById("topbutton").style.display='none';

            }
            
        } );
        $(document).ready(function() 
        {   
            document.getElementById("searchdiv").style.display = 'block';
            $('#idResultTable').DataTable();

        } );
        
    }
    </script>
    <script>
    
        $(document).ready(function() 
        {
            if("{!$User.UITheme}" == "Theme3")
            {
            //alert(document.getElementById("promoterheader"));
                document.getElementById("promoterheader").style.display='block';
                document.getElementById("topbutton").style.display='none';
            }
        } );
    </script>
    
    <style>

    .errorMessage
    {
    color:#990000;
    padding: 5px 15px;
    margin: 10px;
        
    }
    .Processing
    {
    position: fixed;
    background: url({!URLFOR($Resource.loadingIcon)});
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1004;
    left: 0%;
    top: 0%;
    }
    .btn-cstm{
    background-image: none;
    background-color: #fe6600;
    color: #fff;
    border: none;
    padding: 5px 15px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    margin: 10px;
        
        
    }
    .btn-cstm:hover,
    .btn-cstm:active,
    .btn-cstm:focus{
    color:#fff;
    background-color:#fc6c0c;
    }
    .cstm-panel-body{
    background-color: #fff;
    }
    .mgtop10{margin-top:10px;}
    .panel-heading.cstm-heading{
    background-color:#1797C0;
    color:#fff;
    font-size:0.9em;
    }
    .f-sizelg{
    font-size:30px;     
    position: fixed;
    top: 40%;
    left: 50%;
    background-color:rgba(255,255,255,0.5);
    width:30px;
    height:30px;
    z-index: 1004;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    -o-border-radius:60px;
    border-radius:60px;
    }
        
    .cstm-heading a{display:block;} 
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:none;}
    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{text-decoration:none;}
    .inline15_mgn{position:relative;}
    .inline15_mgn .form-group{margin-right:15px;}
    
    .control-label {padding-top: 6px !important;}
    .d{display:none;}
    body{font-size:12px; !important;}
    .btn-info {
    color: #fff;
    background-color: #1797C0;
    border-color: #1797C0;
}
    /* .squaredFour */
    .squaredFour {
        width: 40px;
        position: relative;
        margin: 20px auto;
    }
        .squaredFour label {
            width: 20px;
            height: 20px;
            cursor: pointer;          
        }
            


    /* end .squaredFour */
           </style>



  <apex:form styleClass="form-horizontal" id="test1">
    <div class="f-sizelgcontent">
        <apex:actionStatus id="statusProcessing" startStyleClass="Processing"/>
    </div>

    <div class="panel-group" id="accordion">
        <apex:pageMessages id="errors" />
        
        <div class="panel panel-default" id="promoterheader" style="display:none;">
            <div class = "row">
                <div class="col-sm-12 col-lg-12 ">
                <apex:outputlink target="_blank" value="/">
                    <img class="img-responsive" src="{!URLFOR($Resource.homeimage2, '/homeimage/homeimage/promoter.png')}" alt="Home" />
                </apex:outputlink>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading cstm-heading" id="criteria">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="chkmobile();"><b>Search Parameters</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                <h5><b>
                    Please select the search parameters that are relevant to you and click the Search Button to view the results below: </b>
                </h5>
                </div>

                <div class="panel-body cstm-panel-body">
                <div id="topbutton" class="row" >
                        <div class=" text-center col-xs-6 col-sm-6 col-lg-6" style="text-align:right !important;">
                        <apex:commandButton id="searchbuttontop" value="Search" action="{!runSearch}" reRender="test1" oncomplete="createpagination();" styleClass="btn btn-info" status="statusProcessing"/>
                        
                        </div>
                        <div class=" text-center col-xs-6 col-sm-6 col-lg-6" style="text-align:left !important;">
                        
                        <apex:commandButton value="Reset" action="{!reset}" styleClass="btn btn-info"/>
                        </div>
                </div>
                    <div class="row" >
                        <div class="col-sm-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label for="name" class="col-md-6 control-label">CXO Name</label>
                                    <div class="col-md-6">
                                        <apex:inputText value="{!name}" id="name">
                                        <c:autoComplete autocomplete_textbox="{!$Component.name}" objectname="Promoter_info__c" fieldname="Text_Promoter_Name__c" />
                                        </apex:inputText>
                                    </div>
                            </div>
                        </div>
        
                       <!-- <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                                <label for="title" class="col-md-4 control-label">CXO Title</label>
                                    <div class="col-md-8">
                                        <apex:inputText value="{!title}" id="title">
                                        <c:autoComplete autocomplete_textbox="{!$Component.title}" objectname="Promoter_info__c" fieldname="Job_Title__c" />
                                        </apex:inputText>
                                    </div>
                            </div>
                        </div> -->
                          
                        <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                                <label for="vertical" class="col-md-6 control-label">Vertical</label>
                                    <div class="col-md-6">
                                        <apex:selectList id="vertical" value="{!vertical}" size="1">

                                            <apex:selectOption itemValue="none" itemLabel=""/>
                                            
                                            <apex:selectOption itemValue="BFS" itemLabel="BFS"/>

                                            <apex:selectOption itemValue="Capital Markets" itemLabel="Capital Markets"/>

                                            <apex:selectOption itemValue="CPG" itemLabel="CPG"/>
                                            
                                            <apex:selectOption itemValue="Healthcare" itemLabel="Healthcare"/>
                                            
                                            <apex:selectOption itemValue="High Tech" itemLabel="High Tech"/>
                                            
                                            <apex:selectOption itemValue="Insurance" itemLabel="Insurance"/>
                                            
                                            <apex:selectOption itemValue="Life Sciences" itemLabel="Life Sciences"/>
                                            
                                            <apex:selectOption itemValue="Manufacturing" itemLabel="Manufacturing"/>
                                            
                                            <apex:selectOption itemValue="Retail" itemLabel="Retail"/>
                                            
                                            <apex:selectOption itemValue="Services" itemLabel="Services"/>

                                        </apex:selectList>
                                    </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6  col-xs-12">
                            <div class="form-group">
                            <label for="serviceLine" class="col-md-6 control-label">Service Line</label>
                <div class="col-md-6">
                    <apex:selectList id="serviceLine" value="{!serviceLinevar}" size="1">
                        <apex:selectOptions value="{!serviceLine}"></apex:selectOptions>
                    </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="subvertical" class="col-md-6 control-label">Sub Vertical</label>
                <div class="col-md-6">
                    <apex:selectList id="subvertical" value="{!subvertical}" size="1">
                    <apex:selectOption itemValue="none" itemLabel=""/>
                    <apex:selectOption itemValue="BFS" itemLabel="BFS"/>
                    <apex:selectOption itemValue="Capital Markets" itemLabel="Capital Markets"/>
                    <apex:selectOption itemValue="Government" itemLabel="Government"/>
                    <apex:selectOption itemValue="Healthcare - Payor" itemLabel="Healthcare - Payor"/>
                    <apex:selectOption itemValue="Healthcare – Provider" itemLabel="Healthcare – Provider"/>
                    <apex:selectOption itemValue="High Tech (Comm. equip, SemiCs, Hardware)" itemLabel="High Tech (Comm. equip, SemiCs, Hardware)"/>
                    <apex:selectOption itemValue="High Tech (Consumer Electronics)" itemLabel="High Tech (Consumer Electronics)"/>
                    <apex:selectOption itemValue="High Tech (Software and Internet)" itemLabel="High Tech (Software and Internet)"/>
                    <apex:selectOption itemValue="Insurance - Life" itemLabel="Insurance - Life"/>
                    <apex:selectOption itemValue="Insurance - P & C" itemLabel="Insurance - P & C"/>
                    <apex:selectOption itemValue="Life Sciences" itemLabel="Life Sciences"/>
                    <apex:selectOption itemValue="Manufacturing – Aerospace & Defense" itemLabel="Manufacturing – Aerospace & Defense"/>
                    <apex:selectOption itemValue="Manufacturing-Automotive" itemLabel="Manufacturing-Automotive"/>
                    <apex:selectOption itemValue="Manufacturing-Industrial Machinery" itemLabel="Manufacturing-Industrial Machinery"/>
                    <apex:selectOption itemValue="Manufacturing-Process Industries" itemLabel="Manufacturing-Process Industries"/>
                    <apex:selectOption itemValue="MPE" itemLabel="MPE"/>
                    <apex:selectOption itemValue="Natural Resources" itemLabel="Natural Resources"/>
                    <apex:selectOption itemValue="Other Services" itemLabel="Other Services"/>
                    <apex:selectOption itemValue="Retail" itemLabel="Retail"/>
                    <apex:selectOption itemValue="Telecom" itemLabel="Telecom"/>
                    <apex:selectOption itemValue="TTL & Infra" itemLabel="TTL & Infra"/>
                    <apex:selectOption itemValue="Utilities" itemLabel="Utilities"/>
                    <apex:selectOption itemValue="Corporate" itemLabel="Corporate"/>

                    </apex:selectList>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6 col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="subserviceLine" class="col-md-4 control-label">Sub Service Line</label>
                <div class="col-md-8">
                <apex:inputText value="{!subserviceLine}" id="subserviceLine">
        <c:autoComplete autocomplete_textbox="{!$Component.subserviceLine}" objectname="Promoter_info__c" fieldname="Sub_Service_Line_short__c" />
        </apex:inputText>
                </div>
            </div>
        </div> -->

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">       
                <label for="accountName" class="col-md-6 control-label">Account Name</label>
                <div class="col-md-6">
                <apex:inputText value="{!accountName}" id="accountName">
        <c:autoComplete autocomplete_textbox="{!$Component.accountName}" objectname="Promoter_info__c" fieldname="Account_Name__c" />
        </apex:inputText>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="canMakeAReference" class="col-md-6 control-label">Will Make A Reference</label>
                <div class="col-md-6">
          <apex:selectList id="canMakeAReference" value="{!canMakeAReferencevar}" size="1">
                <apex:selectOptions value="{!canMakeAReference}"></apex:selectOptions>
          </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="canMakePublicAppearances" class="col-md-6 control-label">Will make Public Appearances</label>
                <div class="col-md-6">
        <apex:selectList id="canMakePublicAppearances" value="{!canMakePublicAppearancesvar}" size="1">
                        <apex:selectOptions value="{!canMakePublicAppearances}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="canIntroToNewInternalBuyingCenter" class="col-md-6 control-label">Will intro to New Internal Buying Center</label>
                <div class="col-md-6">
        <apex:selectList id="canIntroToNewInternalBuyingCenter" value="{!canIntroToNewInternalBuyingCentervar}" size="1">
                        <apex:selectOptions value="{!canIntroToNewInternalBuyingCenter}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="canMakeExternalIntroduction" class="col-md-6 control-label">Will Make External Introduction</label>
                <div class="col-md-6">
        <apex:selectList id="canMakeExternalIntroduction" value="{!canMakeExternalIntroductionvar}" size="1">
                        <apex:selectOptions value="{!canMakeExternalIntroduction}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="suitableForAnalystReference" class="col-md-6 control-label">Suitable for Analyst Reference?</label>
                <div class="col-md-6">
        
        <apex:selectList id="suitableForAnalystReference" value="{!suitableForAnalystReferencevar}" size="1">
                        <apex:selectOptions value="{!suitableForAnalystReference}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>

       <!--  <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="origination" class="col-md-4 control-label">Origination</label>
                <div class="col-md-8">
        <apex:selectList id="origination" value="{!originationvar}" size="1">
                        <apex:selectOptions value="{!origination}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div> 
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="commercialStructure" class="col-md-4 control-label">Commercial Structure</label>
                <div class="col-md-8">
        <apex:selectList id="commercialStructure" value="{!commercialStructurevar}" size="1">
                        <apex:selectOptions value="{!commercialStructure}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="offerings" class="col-md-4 control-label">Nature of G Offerings</label>
                <div class="col-md-8">
        <apex:selectList id="offerings" value="{!offeringsvar}" size="1">
                        <apex:selectOptions value="{!offerings}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="engagementModel" class="col-md-4 control-label">Engagement Model</label>
                <div class="col-md-8">
        <apex:selectList id="engagementModel" value="{!engagementModelvar}" size="1">
                        <apex:selectOptions value="{!engagementModel}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="transitionModel" class="col-md-4 control-label">Transition Model</label>
                <div class="col-md-8">
                <apex:selectList id="transitionModel" value="{!transitionModelvar}" size="1">
                        <apex:selectOptions value="{!transitionModel}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>-->
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="uniqueClientGeosServices" class="col-md-6 control-label">Unique Client Geos Serviced</label>
                <div class="col-md-6">
                <apex:selectList id="uniqueClientGeosServices" value="{!uniqueClientGeosServicesvar}" size="1">
                        <apex:selectOptions value="{!uniqueClientGeosServices}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="gServiceDeliveryLocations" class="col-md-6 control-label">G Service Delivery Locations</label>
                <div class="col-md-6">
                <apex:selectList id="gServiceDeliveryLocations" value="{!gServiceDeliveryLocationsvar}" size="1">
                        <apex:selectOptions value="{!gServiceDeliveryLocations}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="businessDrivers" class="col-md-6 control-label">Business Drivers</label>
                <div class="col-md-6">
        <apex:selectList id="businessDrivers" value="{!businessDriversvar}" size="1">
                        <apex:selectOptions value="{!businessDrivers}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="leanDigital" class="col-md-6 control-label">Lean Digital</label>
                <div class="col-md-6">
        <apex:selectList id="leanDigital" value="{!leanDigitalvar}" size="1">
                        <apex:selectOptions value="{!leanDigital}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
       <!--  <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="transformation" class="col-md-4 control-label">Transformation</label>
                <div class="col-md-8">
        <apex:selectList id="transformation" value="{!transformationvar}" size="1">
                        <apex:selectOptions value="{!transformation}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
        -->

        <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="currentDisposition" class="col-md-6 control-label">Current Disposition</label>
                <div class="col-md-6">      
        <apex:selectList id="currentDisposition" value="{!currentDispositionvar}" size="1">
                        <apex:selectOptions value="{!currentDisposition}"></apex:selectOptions>
        </apex:selectList>
                </div>
            </div>
        </div>
       <!-- <div class="col-sm-6 col-lg-6  col-xs-12">
            <div class="form-group">
                <label for="uniqueAboutThisEngagement" class="col-md-4 control-label">Anything unique about this engagement?</label>
                <div class="col-md-8">              
        <apex:inputText value="{!uniqueAboutThisEngagement}" id="uniqueAboutThisEngagement">
        <c:autoComplete autocomplete_textbox="{!$Component.uniqueAboutThisEngagement}" objectname="Promoter_info__c" fieldname="Unique_about_this_engagement__c" />
        </apex:inputText>
        <p class="text-muted">Please use this free text field to search for any other unique attribute that may not have been captured in the drop-downs above</p>
                </div>
            </div>
        </div>-->
    <!--</apex:pageBlockSection>-->

    </div>
    <div class="row" >
    <div class=" text-center  col-xs-6 col-sm-6 col-lg-6" style="text-align:right !important;">
    <apex:commandButton id="searchbutton" value="Search" action="{!runSearch}" reRender="test1" oncomplete="createpagination();" styleClass="btn btn-info" status="statusProcessing"/>
    
    </div>
    <div class=" text-center  col-xs-6 col-sm-6 col-lg-6" style="text-align:left !important;">
    
    <apex:commandButton value="Reset" action="{!reset}" styleClass="btn btn-info"/>
    </div>
    </div>
       
   <!-- </apex:pageBlock>-->
                </div>
            </div>
         
</div>

<div class="panel panel-default" style="display:none;" id = "searchdiv">

            <div class="panel-heading cstm-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>Search Results</b></a>
                </h4>
            </div>
            <div class="panel-body">
                <h5><b>
                    To raise a reference request, please click on “Create a Reference Request" </b>
                </h5>
            </div>
  <!-- <apex:pageBlock title="Search Results :" mode="edit" id="results"  >-->
  <!--  <apex:outputlabel ><b>To raise a reference request, please click on “Create a Reference Request" </b><br/><br/></apex:outputlabel>-->
    <div id="collapse22" class="panel-collapse collapse in">
    <div class="panel-body cstm-panel-body">

    <div class="table-responsive" id="results">
    <table class="table table-hover" id="idResultTable" >
    <thead>
                            <tr>
                                <!--<th>Promoter ID</th>-->
                                <th>CXO Name </th>
                                <th>CXO Title</th>
                                <th>Account Name</th>
                                
                                <!--<th>Vertical</th>
                                <th>Sub Vertical</th>
                                <th>Service Line</th>
                                <th>Sub Service Line</th> -->
                                <th>Relationship Owner</th>
                                <th style="display:{! If($User.UITheme != 'Theme4t' ,'block','none' )}">Reference Request</th>
                            </tr>
    </thead>
    <tbody>
            <apex:repeat value="{!promoter}" var="promotervar">{!promotervar.name}
            <tr>
                <!--<td>

                {!promotervar.name}
                </td> -->
                <td>

                <apex:outputlink target="_blank" value="/{!promotervar.id}">{!promotervar.Text_Promoter_Name__c}</apex:outputlink> 
                </td>
                <td>
            

                {!promotervar.Job_Title__c}

                </td>
                <td>           

                <apex:outputField value="{!promotervar.Account_Name__c}"/>

                </td>
               <!-- <td>

                <apex:outputField value="{!promotervar.Vertical__c}"/>

                </td>
                <td>            

                <apex:outputField value="{!promotervar.Sub_Vertical__c}"/>

                </td>
                <td>           

                <apex:outputField value="{!promotervar.Service_Line__c}"/>

                </td>
                <td>            

                <apex:outputField value="{!promotervar.Sub_Service_Line__c}"/>

            
                </td> -->
                <td>           

                <apex:outputField value="{!promotervar.Relationship_Holder__c}"/>

                </td>
                <td>          
                
            
<apex:outputlink target="_blank" rendered="{! If($User.UITheme != 'Theme4t' ,true,false) }" value="/setup/ui/recordtypeselect.jsp?ent=01I900000026ERw&retURL=%2F{!promotervar.ID}&save_new_url=%2Fa17%2Fe%3FCF00N9000000EWspl%3D{!promotervar.Name}%26CF00NO00000024IGa_lkid%3D{!promotervar.ID}%26retURL%3D%252F{!promotervar.ID}">Create Reference Request</apex:outputlink>
            

                </td>
                </tr>   
</apex:repeat>  
    </tbody>            
           <!-- <apex:column >
                <apex:facet name="header">
                    Unique Client Geos Serviced

                </apex:facet>
                <apex:outputField value="{!promotervar.Unique_Client_Geos_Services__c}"/>
            </apex:column>
            
            <apex:column >
                <apex:facet name="header">
                    Ability to Influence
                </apex:facet>
                <apex:outputField value="{!promotervar.Ability_to_Influence__c}"/>
            </apex:column>


            <apex:column >
                <apex:facet name="header">
                    Business Drivers
                </apex:facet>
                <apex:outputField value="{!promotervar.Business_Drivers__c}"/>
            </apex:column>-->

    <!--     </apex:pageBlockTable>

   </apex:pageBlock>-->



  <!--<apex:pageBlock title="Debug - SOQL" id="debug">
      <apex:outputText value="{!debugSoql}" />           
  </apex:pageBlock>    -->
</table>
</div>
    </div>
    </div>
</div>
</div>
  </apex:form>

</apex:page>