.THIS {
}

.THIS .paddingLeft{
    padding-left: 10px;
}

.THIS .marginTopdiv{
     margin-top: 10px;
}

.THIS hr{
     margin: 0.5rem 0;
}

.THIS .InputMaxWidth{
     max-width: 50%;
}

.THIS .mainScrollbar{
     height:200px;
}

.THIS .newScreenWidth{
     height:300px;
}