.THIS .slds-input{
    width:25%;
}
.THIS .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
}
.THIS .marginleft{
    margin-left: -30px;
}
.THIS .slds-has-error{
    border-color: rgb(194, 57, 52) !important;
}