.THIS .fixedWidth
{
    min-width:130px !important;
}
.THIS .datePicker-openIcon
{
    margin-bottom:4px;
}
.THIS .slds-icon-action-info{
    padding:0;
}
.THIS .exception
{
   	width: 90%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.THIS .update
{
   	width: 90%;
    padding-right: 1rem;
    padding-left: 0.5rem;
}
.THIS .alignStatus
{
    width:250px !important;
    white-space:normal !important;  
}