.THIS .slds-accordion__summary{
    /*background-color: #e8f1f2;*/
    height: 20px;
}
.THIS.c-container {
    border: 1px solid #d8dde6;
}

.THIS .custom-box {
    
}
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}  
.THIS .slds-required {
    color: rgb(255, 0,0);
    margin: 0 .125rem;
}
.THIS .customLabelOppName .slds-form-element .slds-form-element__label 
{
    display:none;
}
.THIS .customLabelAccName .slds-form-element .slds-form-element__label 
{
    display:none;
}

.THIS .customLabelAccName .slds-align-middle .slds-button 
{
    margin-top:-50px;
    margin-left:100px;
}
.THIS .customLabelOppName .slds-align-middle .slds-button
{
    margin-top:-50px;
    margin-left:120px;
}

.THIS .slds-notify_container
{
    display:none;
}
.THIS .customLabelSummary .slds-form-element .slds-form-element__label 
{
    display:none;
}
.THIS .customLabelAccName .slds-form-element__control , .THIS .customLabelOppName .slds-form-element__control{
    margin-top: -15px ; 
}


.THIS .slds-has-error .slds-form-element__control .slds-dueling-list__column .slds-dueling-list__options{
    
    border : 1px solid rgb(194, 57, 52);
}
.THIS .slds-p-around_medium, .THIS .slds-p-around--medium{
	padding-left:1rem !important;
    padding-right:1rem !important;    
    padding-top:0.6rem !important;
    padding-bottom:0.2rem  !important;    
}
/*for label*/
.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}
/*.THIS .slds-form{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}*/