.THIS .slds-table--header-fixed_container{
margin-top:1px!important;
}

.THIS .slds-input{
    width:50;
}
.THIS .mPad{
    padding : 5px;
}
.THIS .slds-has-error {
    border-color: rgb(194, 57, 52)!important;
}