.THIS .slds-accordion__summary{
   /* background-color: #e8f1f2;*/
    height: 20px;
}

.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0  -0.6rem;
    color: 	rgb(255,0,0);
    float: left; 
}  
.THIS .quetxtField label{    
    
    color: #000;
    font-weight: bold; 
}  

.THIS .slds-required {
    color: rgb(255, 0,0);
    margin: 0 .125rem;
}

.THIS .custom-box {
    
}
.THIS .slds-has-error .slds-form-element__control .slds-dueling-list__column .slds-dueling-list__options{
    
    border : 1px solid rgb(194, 57, 52);
}
.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}

.THIS .slds-p-around_medium, .THIS .slds-p-around--medium{
	padding-left:1rem !important;
    padding-right:1rem !important;    
    padding-top:0.6rem !important;
    padding-bottom:0.2rem  !important;    
}