.THIS .dtWidth {
  width:35% !important;
    margin-bottom:5px;
}
.THIS .ddWidth {
  width:50% !important;
  margin-bottom:5px;
}


@media (max-width: 580px) {
 .THIS .dtWidth {
  width:50% !important;
      font-Size:13px;  
    margin-bottom:5px;
}
    
}
@media (max-width: 580px) {
  .THIS .ddWidth {
  width:50% !important;
  margin-bottom:5px;
        font-Size:13px;
}
}

.THIS.qsrmDivBg
{
    background-color:#ffffff;
}