.THIS .sWrapTest {
    width: 100%;
    overflow-y: auto;

}

.THIS .h2{
    
    margin: 0px !important;
}

.THIS .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}