.THIS .cstm-opt-box .slds-trial-header {
    background-color: #1e2c4c;
    margin: 1rem 0.5rem;
}


/*.THIS .genpactPro .cstmtable .slds-lookup__Custom{
    overflow: inherit !important;
    width: 100% !important;
}*/

.THIS .slds-lookup__Custom {
    width: 100% !important;
    overflow: inherit !important;
}

.THIS .slds-lookup__list {
    max-height: 100px ;
}