.THIS .header {
    font-size: 1.2rem;
}

.THIS .list {
    font-size: 1rem;
}

.THIS .modal-body {
    text-align: center;
}

.THIS .cstm-modal {
    overflow-y: auto;
    max-width: 900px;
    width: 900px;
    max-height: 400px;
}