@media (min-width: 48em)
    {
    .THIS .slds-modal__container {
        min-width: 80rem !important; 
    }
    
}

.THIS .oppHeader
{
    text-align:centre;
}
.THIS .bodyPaddingTop
{
    padding-top:0px;
}
.THIS .headerTxt
{
    font-weight:bold;
    font-size:15px;
}

.THIS.cardComp
{
    display: none;
}

.THIS header
{
    display: block;
    
}
.THIS .viewAllBtn
{
    margin-right:2%;
}
.THIS .slds-modal__close{
    top:1.2rem !important;
}
.THIS .slds-modal__header{
    background-color:#f4f4f4;
}
.THIS .slds-card {
    border-radius:1px !important;
}
.THIS .body{
    font-family:Georgia;
}
@media  (max-width: 580px), (min-width: 381px)
    {
     .THIS .slds-modal__container{
        margin:0 0.5rem !important;
    }
      .THIS .headerTxt
     {
    font-weight:bold;
    font-size:14px;
         }
    .THIS .slds-card_header{
        padding:0rem !important;
        padding-bottom:10px;
    }
    .THIS .slds-p-around_medium{
        padding:0px !important;
    }
    
    .THIS .slds-tabs_default__item {
        font-size:13px;
    }
    .THIS .slds-tabs_default__content
    {
        padding:0px !important;
    }
    
    .THIS .slds-grid
    {
        padding: 1.2rem 1.2rem .5rem 1.2rem !important;
        
    }
    
    .THIS .viewAllBtn
    {
        position:absolute;
        
        left:18rem;
        margin-top:6px;
    }
    .THIS .oneFlexipage {
        padding-bottom:0rem !important;
    }
    .THIS .scroller.actionBarPlugin {
        padding-bottom:0rem !important;
    }
    .THIS .slds-card__body{
        margin-bottom:2.8rem !important;
    }
    
    .THIS .mainPage {margin-bottom:-5rem !important;}
     .THIS .slds-modal__close1{
        top:-2.9rem !important;
    }
    .THIS .slds-modal__close1{
        top:-1.9rem !important;
    }
}
@media (max-width:380px){
    .THIS .slds-modal__close1{
        top:-1.9rem !important;
    }
      .THIS .headerTxt
     {
    font-weight:bold;
    font-size:12px;
         }
    .THIS .slds-modal__container{
        margin:0 0.5rem !important;
    }
     .THIS .viewAllBtn
    {
        position:absolute;
        
        left:16rem;
        margin-top:6px;
    }
}