.THIS .button{
    background-color : #00D26A;
    border : 1px solid #00D26A;
 
}
.THIS .button:focus
{
   background-color : #00D26A;
   border : 1px solid #00D26A;
}
.THIS .date_icon
{
    position: absolute;
    left: 1%;
    float: left !important;
    padding-left: 4%;
}

.THIS .date_image-icon .datePicker-openIcon
{
    left : 44% !important;
    margin-top : 4%;
}
.THIS .slds-required
{
    display : none;
}
.THIS .marginTop
{
    margin-top: 1%;
}