.THIS .slds-scope .slds-table .thead .th {
    background-color:none !important;
}
.THIS .assignSectionMargin
{
    margin-bottom:1rem;
    margin-left:1rem;
}
.THIS .modalFooter
{
    background-color:#f7fcff;
    text-align:left;
}
.THIS .headerPadding
{
    padding-bottom:0.25rem;
}
.THIS .modalBodyHeight
{
    height:1000px;
}
.THIS .setleftMargin{
     margin-left:.5rem;
}