<template>
    <table class="table">
        <tbody>
            <template for:each={sectionFields} for:item="sf">
                <div key={sf.fieldName} class="col-md-6 col-xs-6 divSub" style="padding: 5px;
                font-size: 12px;">
                    <template if:true={sf.isField}>
                        <template if:true={sf.value}>
                            <template if:true={sf.isCheckBox}>
                                <b>{sf.fieldLabel}</b><br/><lightning-icon icon-name={sf.iconname} size="small"></lightning-icon>
                            </template>
                            <template if:false={sf.isCheckBox}>
                                <b>{sf.fieldLabel}</b><br/><div class="wrapCSS">{sf.value}</div>
                            </template>
                        </template>
                        <template if:false={sf.value}>
                            <b>{sf.fieldLabel}</b><br/>&nbsp;
                        </template>
                    </template>
                    <template if:true={sf.isReference}>
                        <!-- label={sf.fieldLabel} -->
                        <b>{sf.fieldLabel}</b><br/>
                        <c-gp-l-w-c-custom-lookup
                            object-name={sf.referenceName}
                            searchfield={sf.searchfield}
                            disabled
                            referencetype={sf.referencetype}
                            reference-id={sf.value}
                            filter-string=""
                            iconname="custom:custom88"
                            display-text-fields={sf.displayTextFields}
                            search-placeholder-message={sf.placeholderValue}
                        >
                        </c-gp-l-w-c-custom-lookup>
                    </template>
                    <!-- unchecked -->
                    <template if:true={sf.isNotChecked}>
                        <b>{sf.fieldLabel}</b><br/><lightning-icon icon-name={sf.iconname} size="large"></lightning-icon>
                    </template>
                    <!-- picklist -->
                    <template if:true={sf.isPicklist}>
                        <b>{sf.fieldLabel}</b><br/>
                        <c-gp-l-w-c-custom-picklist
                            is-not-readonly={sf.isNotReadonly}
                            selected-value={sf.value}
                            objectname={sf.objectname}
                            fieldname={sf.fieldname}>
                        </c-gp-l-w-c-custom-picklist>
                    </template>
                </div>
            </template>
        </tbody>        
    </table>    
</template>