.THIS .csrightpanel .cGPCmpProjectDocument{
    display:none;
}

.THIS .disabled {
    cursor: not-allowed;
}
.THIS .no-doc{
    border:none;
    background-color:#eee;
    padding:10px;
}
.THIS .slds-icon-text-warning{ fill: #0f548c }