.THIS.slider-container{
    position:relative;
}
.THIS .slides{
    display:flex;
    flex-direction: row;
    position: absolute;
    transition: left 0.3s ease-in-out;
}
.THIS .nav-buttons{
    z-index: 1;
    position: relative;
}

.THIS .nav-buttons button{
    position: absolute;
    height: 50px;
    border: 0px;
    background: #ccc;
    width: 40px;
}
.THIS .nav-buttons button:active{
    background: #777;
}
.THIS .nav-buttons .left-button{
   
}
.THIS .nav-buttons .right-button{
    right:0px;
}
.THIS .selectcolor td{
   background-color:#F8FFAD!important;
}