.THIS .HeaderDiv {
    padding: 13px;
    background: #f1f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #e1e1e1;
}
 
.THIS .HeaderDiv{
       margin-top : 22px;
    }

.THIS .TextArea{
    width:50%;
}
.THIS .InitiateButton{
    padding-top:15px;
}
.THIS .ArchDropdown{
    height:110px;
}
.THIS .ArchDropdownDiv{
    height:120px;
}

@media all and (max-width: 580px) and (min-width: 371px) 
    {
     
    .THIS .HeaderDiv{
        height:50px !important;
        margin-top : 22px;
        background: #fff !important;
    }
    .THIS .mdmdiv{
        padding:24px 0px 10px 0px !important;
    }
    .THIS .TextArea{
    width:100%;
        
    }
    .THIS .InitiateButton{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top:15px    
    }
    .THIS .labelAlter label{
        width:410px;
    }
    .THIS .headerCard{
        background: #fff !important;
    }
}


.THIS .OtherChk {
    background: #ffffff;
    text-shadow: none;
    color: rgb(22, 50, 92);
   
    }

.THIS .CsField{
    width: 30%;
    font-weight:bold;
    font-size:50px;
}

.THIS .customButton{
   background-color: #2574a9;
   color: #fff; 
}

.THIS .ButtonAllign{
   justify-content: center;
    align-items: center;
    display: flex;

    
}

.THIS .FieldLabelSpan{
    color:#7F8C8D;  
}

.THIS .slds-checkbox {
    margin-bottom:3px;
}

.THIS .beforeSelectionColour{
    color:#B2BABB;
}

.THIS .SelctedColour{
    color:#000000;
}