.THIS {
}

.THIS .slds-modal__container {
   height: initial !important;
}
.THIS .slds-grid {
   	margin: 0px;
    padding: .75rem 1rem 1rem;
}
.THIS .slds-header {
   
    margin:0px;
}
.THIS .viewAllBtn {
   
    margin-top : 0;
    border-top : none;
    padding-top : 3px;
    padding-bottom : 3px;
}
.THIS .viewAllBtn button {
   font-size:14px;
    margin-right : -78%;
}

.THIS .slds-card_footer {
   
    margin-top: 0rem !important;
    border-top: none !important;
    
}
.THIS .slds-button_brand {
   
    padding:0 10px 0 10px;
    margin-left : 0rem;
    margin-right : .5rem;
    font-size: 11px !important;
}


.THIS .slds-button {
   
    font-size: 11.5px;
}

.THIS .borderRadiusDiv {
   
    border-radius: 0;
    border-bottom: none;
}
.THIS .fonsizeColor {
   	color: red;
    font-size: 12px;
    margin-top: -.4rem;
    margin-bottom: .3rem;
}
.THIS .qsrmDivbox {
   
    padding:0;
}
.THIS .oppidDiv {
   
    background: #f8fdff;
}


.THIS .tsqsrmTitle {
   
    font-size: 14px;
}

.THIS .qsrmSectionBox {
    
    padding:1rem; border-radius : 0px;
    margin-top : -1.5rem;
    background : #f8fdff;
}
.THIS .slds-card__body {
    margin:0px;
    padding:0px;
}
.THIS .slds-card__header {
    padding-bottom : opx;
}
.THIS .slds-modal__container {
    position: relative;
    transform: translate(0, 0);
    transition: transform .1s linear,opacity .1s linear;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 2rem;
    height: 100%;
    padding: 3rem 0;
    border-radius: .25rem;
}