<template>
    <!--
    <div class="slds-m-around_medium">
        <p class="slds-text-body_regular">
            Test Standard Picklist : {_selectedValue}
        </p>
        <c-gp-l-w-c-custom-picklist
            objectname="GP_Project__c" 
            fieldname="GP_Reports__c"
            label="Reports to"
            selected-value={selectedValue}
            picklist-value-set={picklistValueSet}
            ongppicklistselect={handleOnSelectStandard}>
        </c-gp-l-w-c-custom-picklist>
    </div>
    <div class="slds-m-around_medium">
        <p class="slds-text-body_regular">
            Test Custom Picklist : {_selectedValueCustom}
        </p>
        <c-gp-l-w-c-custom-picklist
            objectname="" 
            fieldname=""
            label="Project Filters"
            is-field-required=true
            disabled
            selected-value={selectedValueCustom}
            picklist-value-set={picklistValueSetCustom}
            ongppicklistselect={handleOnSelectCustom}>
        </c-gp-l-w-c-custom-picklist>
    </div>
    
    <div class="slds-m-around_medium">
        <p class="slds-text-body_regular">
            Test Lookup without data : {selectedRecordIdLookupWOD} : {selectedValueLookupWOD}
        </p>
        <c-gp-l-w-c-custom-lookup
            object-name="GP_Pinnacle_Master__c"
            searchfield="name"
            iconname="custom:custom88"
            filter-string="RecordType.Name = 'Tax Code Master' and GP_Status__c = 'Active'"
            display-text-fields="GP_Record_Type_Name__c,GP_Unique_Number__c,Name"
            search-placeholder-message="Enter tax code name"
            ongpselectrecord={handleOnSelectLookupWOD}
        >
        </c-gp-l-w-c-custom-lookup>
    </div>
    
    <div class="slds-m-around_medium">
        <p class="slds-text-body_regular">
            Test Lookup with data : {selectedRecordIdLookupWD} : {selectedValueLookupWD}
        </p>
        <c-gp-l-w-c-custom-lookup
            object-name="GP_Pinnacle_Master__c"
            searchfield="name"
            disabled
            reference-id="a0h9000000METoSAAX"
            iconname="custom:custom88"
            filter-string="RecordType.Name = 'Tax Code Master' and GP_Status__c = 'Active'"
            display-text-fields="GP_Record_Type_Name__c,GP_Unique_Number__c,Name"
            search-placeholder-message="Enter tax code name"
            ongpselectrecord={handleOnSelectLookupWD}
        >
        </c-gp-l-w-c-custom-lookup>
    </div>-->
    <!-- Project Header LWC, CSS done but WIP for modal -->
    <!-- window size : {windowSize} : orientation : {orientation} 
    <br/> availableWidth : {availableWidth} : devicePixelRatio : {devicePixelRatio}-->
    <div class="wrapper">
        <c-gp-l-w-c-p-i-d-approver-project-header-page
            record-id={recordId}
            back-image-url={backImageUrl}>
        </c-gp-l-w-c-p-i-d-approver-project-header-page>
        <div class="pidTabs">
            <!-- Project Detail LWC -->
            <c-gp-l-w-c-p-i-d-approver-project-detail-container
                record-id={recordId}>
            </c-gp-l-w-c-p-i-d-approver-project-detail-container>
            <!-- Approval History LWC, only table js is left -->
            <c-gp-l-w-c-p-i-d-approver-project-approval-history-container
                record-id={recordId}>
            </c-gp-l-w-c-p-i-d-approver-project-approval-history-container>
        </div>        
        <!--a id="back-to-top" href="javascript:;" class="btn back-to-top" role="button" title="Click to return on the top page">
            <span class="fa fa-angle-up"></span>
        </a-->
        <c-gp-l-w-c-p-i-d-approver-footer-page></c-gp-l-w-c-p-i-d-approver-footer-page>
    </div>
    <!-- test Table UI -->
</template>