.THIS{
    position:relative;
}
.THIS .cstm-width{
    max-width:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS button.slds-button.slds-button_width {
    width: 100%;
    border-radius: 0px;
    height: 3.5rem;
    font-size: 1.1rem;
}