.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}
.THIS .customLabel .slds-form-element .slds-form-element__label,.THIS .slds-form-element .slds-form-element__icon
{
    display:none;
}

.THIS  .slds-form-element__legend{
    font-weight: 500 !important;
}
.THIS .slds-form-element__label .slds-form-element__legend{
    font-weight: 500 !important;
}
@media (min-width: 48em){
.THIS .slds-modal__container{
    width: 250% !important;
    max-width: 55rem !important;
    }
}

.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}
.THIS .customLabelSummary .slds-form-element .slds-form-element__label 
{
    display:none;
}


.THIS .slds-p-around_small{
    padding:0.25rem  !important;
}
.THIS .slds-p-around_medium{
     padding:0.00rem  !important;
}
.THIS .slds-listbox 
{
    max-height: 120px;
}