.THIS.c-container {
    border: 1px solid #d8dde6;
    
}
/*.THIS .p{
    background-color:#54698d !important;
    border-color:#54698d !important; 
    height:35px !important;
    color:#ffffff !important;
    padding-top: 7px !important;
    padding-left: 10px !important;
   
}*/
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}  
.THIS .slds-required {
    color: rgb(255, 0,0);
    margin: 0 .125rem;
}
.THIS .productHeader{
    height:35px;
    padding-top: 8px;
    padding-left: 10px;
    background-color:#e8f1f2;
}
.THIS .slds-icon-action-info{
    padding:0;
}
.THIS .floatLeftButton{
    float:left;
}
.THIS .floatRightButtons{
    float:right;
}
.THIS .right-align {
    text-align: right;
}
.THIS tr:nth-child(odd) {background-color: #f4feff;}
/* Tab Overriden*/
.THIS .tabSetMargin{
    margin-top:-30px;
}
.THIS .slds-vertical-tabs__nav-item.slds-is-active{
    border-left:2px solid #006dd5;
    border-right:1px solid #dbe7ed;
    background-color:#f0f8fc;
}
.THIS .slds-vertical-tabs__nav-item.slds-is-active .slds-vertical-tabs__link:hover {
    background: #f0f8fc;
    color: currentColor;
}
.THIS .slds-vertical-tabs__nav-item{
    border:0px;
}
.THIS .slds-vertical-tabs__link
{
    text-decoration:none;
}
.THIS .slds-vertical-tabs__nav{
    border:1px solid #dbe7ed;
    background-color:white;
    margin-top:15px;
    padding-top: 60px;
}
.THIS .slds-vertical-tabs{
    border:0px;
}
.THIS .TabSetIcon
{
    margin-left: -170px;
    margin-top: 20px;
}
.THIS .tabBody{
    margin-top:-40px;
}