.THIS .cuf-scroller-content {
    background : #fff;
    overflow-y : auto;
}
.THIS .modal-body scrollable slds-modal__content slds-p-around--medium {overflow: hidden;}
.THIS .approveComponent  {margin-left: -2rem;width: 112%;margin-top: .6rem;}