.THIS .cstm-buttons .slds-form-element__legend{
    display:none;
}
.THIS .cstm-buttons{
    display:block;
}
.THIS .cstm-buttons .slds-form-element{
    display:inline-block;
}
.THIS .cstm-buttons .slds-form-element .slds-radio{
    display:inline-block;
}
.THIS .cstm-buttons .slds-form-element .slds-radio .slds-form-element__label{
    padding-left: 10px;
}
.THIS .lightning-radio-group{
	display: inline-block;
}
.THIS lightning-radio-group{
	display: inline-block;
}