.THIS .dtWidth {
  width:35% !important;
    margin-bottom:5px;
}
.THIS .ddWidth {
  width:50% !important;
  margin-bottom:5px;
}

@media (max-width: 580px) {
 .THIS .dtWidth {
  width:50% !important;
    margin-bottom:5px;
        font-Size:13px;  
}
}
@media (max-width: 580px) {
  .THIS .ddWidth {
  width:50% !important;
  margin-bottom:5px;
        font-Size:13px;  
}
}

.THIS.qsrmDivBg
{
    background-color:#fff;
}