.THIS .fixedWidth
{
    min-width:130px !important;
}
.THIS .datePicker-openIcon
{
    margin-bottom:4px;
}
.THIS .tabletitle{
    color:#617ba0;
}


.THIS .slds-text-title_caps{
    height:32px;
}

.THIS .alignStatus
{
   /* width:250px !important;*/
    white-space:normal !important;  
}

/*
.THIS .slds-datepicker .slds-day {

display : contents;
position: absolute;
z-index: 8000;
left: -0.71875px;    
}

.THIS .slds-datepicker td.slds-is-selected>.slds-day {
    color:Blue;
}

.THIS .zInd
{
    z-index: 8002;
}*/