.THIS .cstm-wrap .slds-form-element{
    display:inline-block;
}
.THIS .cstm-wrap .slds-form-element + .slds-form-element, .THIS .cstm-wrap .slds-form-element + .slds-button{
    margin-left:0.5rem;
}
.THIS .notification{
    background: #777;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    font-size: 0.6rem;
    display: block;
    text-align: center;
    line-height: 12px;
    color: #fff;
    top: 2px;
    right: 3px;
    font-weight: bold;
}
.THIS .notification.alert{
    background: red;
}
.THIS .header-colunm-width .slds-truncate{
    max-width:100px;
}