<template>
    <template if:true={islistNotEmpty}>
        <!-- style="min-height: 200px;" -->
        <!-- MOBILE TABLE -->
        <div data-div-id="related_table_mobile" class="table-responsive isMobileUIRelatedTable">
            <!--table class="serachTable3 display dataTable dtr-inline collapsed table table-striped table-bordered dt-responsive nowrap"-->
            <table class="serachTable3 table-striped table-bordered  dt-responsive nowrap">
                <thead>
                    <!--  role="row" -->
                    <tr>
                        <th colspan="2" style="width: 50%;">{firstSectionNameMobile.fieldLabel}</th>
                        <th style="width: 50%;">{secondSectionNameMobile.fieldLabel}</th>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={showListOfRecords} for:each={listOfPaginatedRecords}
                        for:item="rorts">
                        <tr key={rorts.key}>
                            <td>
                                <template if:false={rorts.showIcon}>
                                    &nbsp;
                                </template>
                                <template if:true={rorts.showIcon}>
                                    <span data-div-id={rorts.utilityRight} data-attribute-index={rorts.key} onclick={handleTRShowHide}>
                                        <lightning-icon icon-name="utility:chevronright" size="small"></lightning-icon>
                                    </span>
                                    <span data-div-id={rorts.utilityLeft} data-attribute-index={rorts.key} onclick={handleTRShowHide} class="hide">
                                        <lightning-icon icon-name="utility:chevrondown" size="small"></lightning-icon>
                                    </span>
                                </template>
                            </td>
                            <template for:each={rorts.fieldsHeader}
                                for:item="hfield">
                                <template if:true={hfield.isField}>
                                    <!-- Here you can get true and false values if checkbox. We will use icon for both now -->
                                    <td key={hfield.key}>
                                        <template if:true={hfield.isCheckBox}>
                                            <lightning-icon icon-name={hfield.iconname} size="small"></lightning-icon>
                                        </template>                                        
                                        <template if:false={hfield.isCheckBox}>
                                            <template if:true={hfield.viewDocument}>
                                                <span data-div-id={hfield.value} data-attribute-index={hfield.value} onclick={navigateToContentDoc}>
                                                    <lightning-icon icon-name="standard:file" size="medium"></lightning-icon>
                                                </span>
                                            </template>
                                            <template if:false={hfield.viewDocument}>
                                                <div class="wrapCSS">{hfield.value}</div>
                                            </template>
                                        </template>
                                    </td>
                                </template>
                                <template if:true={hfield.isReference}>
                                    <td key={hfield.key}>
                                        <c-gp-l-w-c-custom-lookup
                                            object-name={hfield.referenceName}
                                            searchfield={hfield.searchfield}
                                            disabled
                                            referencetype={hfield.referencetype}
                                            reference-id={hfield.value}
                                            filter-string=""
                                            iconname="custom:custom88"
                                            display-text-fields={hfield.displayTextFields}
                                            search-placeholder-message={hfield.placeholderValue}
                                        >
                                        </c-gp-l-w-c-custom-lookup>
                                    </td>
                                </template>
                                <!-- unchecked -->
                                <template if:true={hfield.isNotChecked}>
                                    <td key={hfield.key}>
                                        <lightning-icon icon-name={hfield.iconname} size="large"></lightning-icon>
                                    </td>                                    
                                </template>
                                <!-- picklist -->
                                <template if:true={hfield.isPicklist}>
                                    <td key={hfield.key}>
                                        <c-gp-l-w-c-custom-picklist
                                            is-not-readonly={hfield.isNotReadonly}
                                            selected-value={hfield.value}
                                            objectname={hfield.objectname}
                                            fieldname={hfield.fieldname}>
                                        </c-gp-l-w-c-custom-picklist>
                                    </td>                                    
                                </template>
                            </template>
                        </tr>
                        <c-gp-l-w-c-related-section-table-sub-component 
                            key={rorts.key}
                            sub-tr-details={rorts.fields}
                            record-id-to-show-or-hide={recordIdToShowOrHide}
                            sectionfields={sectionfields}
                            ongpnullselectedrecord={handleNullSelectedRecord}
                            ongpfileurlsubtable={handleFileURLSubtable}>
                        </c-gp-l-w-c-related-section-table-sub-component>
                    </template>
                </tbody>
            </table>
            <template if:true={islistNotEmpty}>
                <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination
                    list-of-original-records={_relatedObjectRecordsToShowMob}
                    ongpupdatedlistcustomevent={handleListUpdate}>
                </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
            </template>
        </div>    
        <!-- DESKTOP TABLE, isMobileUIRelatedTable, isDesktopUIRelatedTable -->
        <div data-div-id="related_table_desktop" class="table-responsive isDesktopUIRelatedTable">
            No to desktop version
        </div>
    </template>
    <!-- NO DATA TO SHOW -->
    <template if:false={islistNotEmpty}>
        <div style="text-align: center;
        font-size: 12px;
        color: #093463 !important;">No data to show</div>
    </template>    
    <!--div id="searchTable3_desktop" class="table-responsive isDesktopUIRelatedTable">
        <table class="serachTable3 display dataTable dtr-inline collapsed table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr role="row">
                    <template for:each={_sectionfields}
                        for:item="sf">
                        <td key={sf.fieldName}>
                            {sf.fieldLabel}
                        </td>
                    </template>
                </tr>
            </thead>
            <tbody>
                <template for:each={listOfPaginatedRecords}
                    for:item="rorts">
                    <tr key={rorts.key} role="row" class="odd">
                        <template for:each={rorts.fields}
                            for:item="field">
                            <template if:true={field.isField}>
                                <td key={field.key}>
                                    {field.value}
                                </td>
                            </template>
                            <template if:true={field.isReference}>
                                <td key={field.key}>
                                    <c-gp-l-w-c-custom-lookup
                                        object-name={field.referenceName}
                                        searchfield="Name"
                                        disabled
                                        reference-id={field.value}
                                        filter-string=""
                                        iconname="custom:custom88"
                                        display-text-fields={field.displayTextFields}
                                        search-placeholder-message={field.placeholderValue}
                                    >
                                    </c-gp-l-w-c-custom-lookup>
                                </td>
                            </template>
                        </template>
                    </tr>
                </template>
            </tbody>
        </table>
        <template if:true={islistNotEmpty}>
            <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination
                list-of-original-records={_relatedObjectRecordsToShow}
                ongpupdatedlistcustomevent={handleListUpdate}>
            </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
        </template>
    </div-->
</template>