.THIS .mPad{
        padding-left: 1rem !important;
}
.THIS .slds-m-top_none{
    margin-right: 9px !important;
}


@media (min-width: 48em)
    {
.THIS .slds-modal__container{
    width: 70% !important;
   max-width: 90rem !important;
}
}
.THIS tr:nth-child(even) {background-color: #f4fffb;}
.THIS .editButton{
        padding-right: 1rem !important;
}
.THIS .searchButton{
    margin-top: 3px !important;
   
}
.THIS .lineBreak
{
    margin-top: 3px !important;
    margin-left: -15px !important;
}
.THIS .slds-table td{
    padding-top: 0.2rem;
    padding-bottom: 0.1rem !important;
}
/*.THIS .prodTable .slds-table td{
       padding: 0.30rem 0.30rem .50rem .70rem!important;
}*/
/*
.THIS .slds-table_bordered{
    border-top: 0px solid rgb(221, 219, 218) !important; 
}*/
/*.THIS .prodTable .slds-border_right{
    border-right:none !important;
} */
/*
.THIS .prodTable .slds-border_left{
     border-left:none !important;
}*/