.THIS .radio {
   float: left;
   margin : 3px 10px 0 14px !important;
    
}

.THIS .radioMargin {
   margin-top: 1rem;
    
}

.THIS .checkboxID {
   float: left;
   margin-left:16px;
}

.THIS .sidebar {
    padding-left: 3%;
     float: left;
}
.THIS .textellipsis{
    float: left;
    width:90%;
    text-overflow:ellipsis;
    white-space: normal;
    text-align:left;
    
 
} 

.THIS .textellipsis1{
    
    color:#000;
}
.THIS .textellipsis2{
    
    color:#A9A9A9;
}

.THIS .radioMargin{
    margin-bottom : -1rem;
}

.THIS .seller4 {
   
}