.THIS.popover-container{
    position:relative;
}
.THIS .slds-popover{
    position:absolute;
    left: 90px;
    top: -70px;
}
.THIS .slds-popover__body{
    padding:0px;
}

.THIS .slds-table_fixed-layout tbody, .THIS .slds-table--fixed-layout tbody {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
}