.THIS .currencyTextWeight{
    font-weight:800;
    color:#16325c;
}

.THIS{
    border-radius: 0 !important;
    box-shadow:none !important;
    height:100px;
}
.THIS .fontSizeRowSummary
{
    font-size:0.80rem;
    color:#142e54;
}
.THIS .slds-card__header
{
    display:none;
    margin:0px;
}
.THIS .redText
{
    color:red;
}
.THIS .fontSizeRowSummaryInMM
{
    font-size:0.60rem !important;
    color:#142e54;
}
.THIS .fontSizeRowSummary1{
    font-size:0.90rem;
    color:#9599a0 ;
}