<template>
    <!-- WHEN READONLY -->
    <template if:false={isNotReadonly}>
        <template if:true={selectedRecord}>
            {selectedRecord.Name}
        </template>
        <template if:false={selectedRecord}>
            &nbsp;
        </template>
    </template>
    <!-- WHEN EDITABLE -->
    <template if:true={isNotReadonly}>
        <template if:false ={selectedRecord}>
            <div data-div-id="parent-lookup-select-required" style="height: 40px;margin-bottom: 5px;">
                <!-- attribute : variant="label-hidden", class="form-control input-sm" will hide later once CSS is included -->
                <!--lightning-input disabled={disabled} variant="label-hidden"
                    label={label} value={searchString} type="search"
                    onchange={handleOnchange} placeholder={searchPlaceholderMessage}>
                </lightning-input-->
                <!-- key down is working than onchange as onchange we have to click on other element or tab from the field -->
                <input
                    data-div-id={searchInputId}
                    type="search"
                    onkeydown={handleOnchange}                    
                    class="slds-input slds-combobox__input"
                    aria-autocomplete="list" 
                    aria-controls={searchInputId}
                    autocomplete="off" 
                    role="textbox" 
                    placeholder={searchPlaceholderMessage}
                    style="height: 30px;font-size: 12px;"/>
                <div class="hide" 
                    data-div-id="lookup-select-required">
                    Complete this field.
                </div>
            </div>
        </template>
        <!-- ERROR HANDLING -->
        <template if:true ={error}>
            <template if:true ={error.details}>
                <template if:true ={error.details.body}>
                    {error.details.body.message}
                </template>
            </template>
        </template>
        <!-- SELECTION LIST -->
        <template if:false ={selectedRecord}>
            <template if:true ={records}>
                <template for:each ={records} 
                    for:item ="record">
                        <ul key={record.Id} class="slds-listbox slds-listbox_vertical" role="presentation">
                            <li role="presentation" class="slds-listbox__item">
                                <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" 
                                        role="option"
                                        data-attribute-index={record.Id}
                                        onclick={handleSelect}>
                                    <span class="slds-media__figure slds-listbox__option-icon">
                                        <lightning-icon icon-name={iconname} size="small"></lightning-icon>
                                    </span>
                                    <span class="slds-media__body" 
                                            style="padding-top: 2px;font-size: 12px;">
                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                                            {record.Name}
                                        </span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                </template>
            </template>
        </template>
        <!-- VALUE SELECTED -->
        <template if:true ={selectedRecord}>
            <div style="border-style: solid;
            border-width: 1px;
            border-radius: 2px;
            border-color: lightgray;
            padding-top: 0px;
            padding-left: 10px;
            margin-bottom: 15px;">
                <div style="height: 30px;" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                    <span class="slds-media__figure slds-listbox__option-icon" style="padding-top: 8px;">
                        <lightning-icon icon-name={iconname} size="small"></lightning-icon>
                    </span>
                    <span class="slds-media__body" 
                            style="padding-top: 8px;font-size: 12px;">
                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                            {selectedRecord.Name}
                        </span>
                    </span>
                    <span class="slds-media__figure slds-listbox__option-icon">
                        <template if:false={_disabled}>
                            <button class ="sicon_container slds-button slds-button_icon slds-input__icon slds-input__icon_right"
                                title ="Remove selected option"
                                onclick ={handleRemove}>
                                <!-- utility:close -->
                                <lightning-icon icon-name ="utility:close"
                                    size="small">
                                </lightning-icon>
                                <span class ="slds-assistive-text">
                                    Remove selected option
                                </span>
                            </button>
                        </template>
                    </span>
                </div>
            </div>
        </template>
    </template>    
</template>