<template>    
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <div class="col-md-12">
                <div class="divhead2" style="margin-left: 10px;margin-bottom: 10px;">{_currentFilterName}</div>
                <!-- MOBILE LIST TABLE-->
                <div class="table-responsive isMobileUI">
                    <table class="serachTable tblView table table-striped table-bordered nowrapd">
                        <thead>
                            <tr>
                                <th colspan="2">Project Name</th>
                                <th>EP Project Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template if:true={showdata}>
                                <template for:each={listOfPaginatedPendingPIDs}
                                    for:item="pidInfo">
                                    <tr key={pidInfo.Id} style="height: 35px;">
                                        <!-- On click of Icon set the attribute to utility:chevrondown :  class="th_colspan_mobile"-->
                                        <td style="margin-top: 7px !important;">
                                            <span data-div-id={pidInfo.utilityRight} data-attribute-index={pidInfo.Id} onclick={handleTRShowHide}>
                                                <lightning-icon icon-name="utility:chevronright" size="small"></lightning-icon>
                                            </span>
                                            <span data-div-id={pidInfo.utilityLeft} data-attribute-index={pidInfo.Id} onclick={handleTRShowHide} class="hide">
                                                <lightning-icon icon-name="utility:chevrondown" size="small"></lightning-icon>
                                            </span>
                                        </td>
                                        <td style="margin-top: 7px !important;">
                                            <b><a data-attribute-index={pidInfo.Id} onclick={navigateToPID}>{pidInfo.Name}</a></b>
                                        </td>
                                        <td style="margin-top: 7px !important;">
                                            {pidInfo.GP_EP_Project_Number__c}
                                        </td>
                                    </tr>
                                    <tr key={pidInfo.Id} data-div-id={pidInfo.oraclePIDTr} class="hide">
                                        <td>&nbsp;</td>
                                        <td style="text-align: center;">
                                            Oracle PID
                                        </td>
                                        <td style="text-align: center;">
                                            {pidInfo.GP_Oracle_PID__c}
                                        </td>
                                    </tr>
                                    <tr key={pidInfo.Id} data-div-id={pidInfo.workingUserTr} class="hide">
                                            <td>&nbsp;</td>
                                        <td style="text-align: center;">
                                            Submitted By
                                        </td>
                                        <td style="text-align: center;" class="wrapCSS">
                                            {pidInfo.GP_Current_Working_User__r.Name}
                                        </td>
                                    </tr>
                                    <tr key={pidInfo.Id} data-div-id={pidInfo.dateSubmittedTr} class="hide">
                                        <td>&nbsp;</td>
                                        <td style="text-align: center;">
                                            Date Submitted
                                        </td>
                                        <td style="text-align: center;">
                                            <lightning-formatted-date-time value={pidInfo.GP_Project_Submission_Date__c}></lightning-formatted-date-time>
                                        </td>
                                    </tr>
                                </template>
                            </template>
                            <template if:false={showdata}>
                                <tr>
                                    <td colspan="5">No Data to show</td>
                                </tr>
                            </template>
                        </tbody>
                    </table> 
                    <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination                        
                        list-of-original-records={listOfFilterPIDs}
                        ongpupdatedlistcustomevent={handleListUpdate}>
                    </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
                </div>
                <!-- DESKTOP LIST TABLE-->
                <div class="table-responsive isDesktopUI">
                    <table class="serachTable tblView table table-striped table-bordered nowrapd">
                        <thead>
                            <tr>
                                <th >Project Name</th>
                                <th>Oracle PID</th>
                                <th>EP Project Number</th>
                                <th>Submitted By</th>
                                <th>Date Submitted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template if:true={showdata}>
                                <template for:each={listOfPaginatedPendingPIDs}
                                    for:item="pidInfo">
                                    <tr key={pidInfo.Id}>
                                        <td>                                            
                                            <b><a data-attribute-index={pidInfo.Id} onclick={navigateToPID}>{pidInfo.Name}</a></b>
                                        </td>
                                        <td>
                                            {pidInfo.GP_Oracle_PID__c}
                                        </td>
                                        <td>
                                            {pidInfo.GP_EP_Project_Number__c}
                                        </td>
                                        <td>
                                            {pidInfo.GP_Current_Working_User__r.Name}
                                        </td>
                                        <td>
                                            <p><lightning-formatted-date-time value={pidInfo.GP_Project_Submission_Date__c}></lightning-formatted-date-time></p>
                                        </td>
                                    </tr>
                                </template>
                            </template>
                            <template if:false={showdata}>
                                <tr>
                                    <td colspan="5">No data to show</td>
                                </tr>
                            </template>
                        </tbody>                        
                    </table>
                    <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination
                        list-of-original-records={listOfFilterPIDs}
                        ongpupdatedlistcustomevent={handleListUpdate}>
                    </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
                </div>
            </div>
        </div>
    </div>
</template>