/*- Keep default for mobile and use media query for tab and desktop.
min-width:1024px : for desktop
min-width: 768px : for desktop
min-width: 600px : for tab
max-width: 48em : for mobile

.th_colspan_mobile,.tr_Date_submitted_mobile {
    display: block;
}

.th_colspan_desktop,.th_desktop {
    display: none;
}

@media(min-width: 600px) {
    .th_colspan_mobile,.tr_Date_submitted_mobile {
        display: none;
    }
    
    .th_colspan_desktop,.th_desktop {
        display: block;
    }
}*/