<template>
    <!-- 01-05-2020 : Will develop field LWC later when PID Creator is included -->
    <!--template if:true={readonly}-->
        <template if:true={textType}>
            <div class="slds-p-around_medium">
                <lightning-input type="text" label={label} value={value} placeholder={placeholder} readonly></lightning-input>
            </div>
            <!--div class="slds-form-element">
                <label class="slds-form-element__label" for={fieldId}>{label}</label>
                <div class="slds-form-element__control">
                    <input type="text" id={fieldId} readonly="" placeholder={placeholder} class="slds-input" value={value}/>
                </div>
            </div-->
        </template>
        <template if:true={textAreaType}>
            <div class="slds-p-around_medium">
                <lightning-textarea type="textArea" label={label} value={value} placeholder={placeholder} readonly maxlength="255"></lightning-textarea>
            </div>
        </template>
        <template if:true={dateType}>
            <div class="slds-p-around_medium">
                <lightning-input type="date" label={label} value={value} placeholder={placeholder} readonly></lightning-input>
            </div>
        </template>
        <template if:true={dateTimeType}>
            <div class="slds-p-around_medium">
                <!-- for now just keep the field disabled -->
                <lightning-input type="datetime" label={label} value={value} placeholder={placeholder} disabled></lightning-input>
            </div>
        </template>
        <template if:true={booleanType}>
            <div class="slds-box">
                <h2 class="header">{label}</h2>
                <lightning-input type="checkbox-button" label={label} checked={value} disabled></lightning-input>
            </div>
        </template>
        <template if:true={doubleType}>
            <div class="slds-p-around_medium">
                <lightning-input type="number" value={value} label={label} placeholder={placeholder} readonly></lightning-input>
            </div>
        </template>
        <template if:true={emailType}>
            <div class="slds-p-around_medium">
                <lightning-input type="email" label={label} value={value} placeholder={placeholder} readonly></lightning-input>
            </div>
        </template>
        <template if:true={phoneType}>
            <div class="slds-p-around_medium">
                <lightning-input type="tel" label={label} value={value} placeholder={placeholder} readonly></lightning-input>
            </div>
        </template>        
    <!--/template-->
</template>