.THIS .hours input {
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 30px;
    height: 0px;
    min-height: calc(2rem + 2px);
    text-align: center;
}

.THIS .hours {
    padding: 5px!important;
}

.THIS.card_title {
    font-weight: bold;
    overflow-x: auto;
}

.THIS .block100 input {
    display: block;
    width: 100px;
}

.THIS .weekEndBGColor {
    background-color: #EB2F45 !important;
    color: #fff;
}

.THIS input[type=number]:disabled {
    background: #e4e4e4;
    color: #fff;
}

.THIS .slds-table thead th {
    background-color: transparent;
}

.THIS .w150 {
    width: 150px;
}
.THIS .customTableTimesheet{
    display:block;
}