@media (min-width: 48em)
    {
    .THIS .slds-modal__container {
        min-width: 80rem !important; 
    }
}
.THIS .bodyPaddingTop
{
    padding-top:0px;
}
.THIS .titleOpp{
    color:#142e54; 
    font-weight:400;    
}
.THIS .slds-tabs_default__link, .THIS .slds-tabs--default__link{
    color:#142e54;  
}

.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content{
      margin-left:10px !important;
    margin-right:10px !important;
}
.THIS .slds-tabs_default__nav{
     margin-left:10px !important;
    margin-right:10px !important;
}
.THIS .slds-table thead th {background-color: #d4f8ff;}