<template>
    <div data-div-id="spinner_parent_div" class="hide">
        <lightning-spinner alternative-text="Loading" size="medium" 
        variant="brand"></lightning-spinner>
    </div>
    <div class="row">
        <!-- Related section -->
        <ul class="nav nav-tabs nav-tabs2 text-center calibri">
            <template for:each={relatedsections}
                for:item="rs">
                <!-- before it was col-md-2 -->
                <li key={rs.key} data-div-id={rs.key} class="col-md-2 col-xs-4">
                    <a data-attribute-index={rs.key} onclick={handleRelatedSection}><span>{rs.value}</span></a>
                </li>
            </template>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="ProjectDetails">
            <div class="divhead3 text-center">{relatedObjectToShow}</div>
        </div>
    </div>

    <!-- Div to show Document note -->
    <template if:true={isPIDDocNote}>
        <div style="width: 100%; text-align: center; color: red;">
            <b>{noteOnUploadView}</b>
        </div>
        <br/>
    </template>
    <!-- Div to show Billing Milestones subtotals -->
    <template if:true={isBillingMilestonesNote}>
        <div style="width: 100%;
        text-align: left;
        color: #093463;
        padding: 11px;
        border-width: 1px;
        border-radius: 10px;
        font-size: smaller;
        background: rgba(215, 218, 233, 1);">
            <b>{billingMilestoneNote}</b>
        </div>
        <br/>
    </template>
    <!-- Div to show Budget and Expense subtotals -->
    <template if:true={isBudgetAndExpensesNote}>
        <div style="width: 100%;
        text-align: left;
        color: #093463;
        padding: 11px;
        border-width: 1px;
        border-radius: 10px;
        font-size: smaller;
        background: rgba(215, 218, 233, 1);">
            <template if:true={isExpensesNote}>
                <b>{expensesNote}</b>                
            </template>
            <!-- Div to show Budget subtotals -->
            <template if:true={isBudgetNote}>
                <br/><br/>
                <b>{budgetNote}</b>
            </template>    
        </div>
        <br/>
    </template>
    
    <!-- Detail container -->
    <!--div class="slds-p-around_xx-small">
        {relatedObjectToShow}
    </div-->
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <!-- SECTIONS -->
            <template for:each={sectionsToShow}
                for:item="ss">
                <div key={ss.key} class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-div-id={ss.key} data-attribute-index={ss.key} class="collapsed" onclick={handleSectionFields}>
                            {ss.value}
                        </a>
                    </h4>
                </div>
                <!--div key={ss.key} class="slds-col slds-size_1-of-1">
                    <a data-attribute-index={ss.key} onclick={handleSectionFields}>{ss.value}</a>                    
                </div-->

                <!-- keep -->
                <div key={ss.key} class="panel-body">
                    <template if:true={ss.isSelected}>
                        <!-- use another attribute to handle form or table means "DetailPage" or "RelatedPage" LWC -->
                        <!-- Iterate the below list "detail page" which would have either custom picklist, field or lookup according to type -->                    
                        <template if:true={ss.isForm}>
                            <!-- detail Page LWC-->
                            <c-gp-l-w-c-p-i-d-approver-project-detail-container-detail-page
                                key={ss.key}
                                section-fields={sectionFields}>
                            </c-gp-l-w-c-p-i-d-approver-project-detail-container-detail-page>
                        </template>
                        <template if:false={ss.isForm}>
                            <!-- related Page LWC-->
                            <!-- Show data in table, sectionFields will show header details and relatedObjectRecordsToShow will show recs -->                            
                            <c-gp-l-w-c-p-i-d-approver-project-related-section-page
                                lookup-mappings={_lookupMappings}
                                sectionfields={sectionFields}
                                related-object-records-to-show={relatedObjectRecordsToShow}
                                ongpfileurl={handleViewFile}>
                            </c-gp-l-w-c-p-i-d-approver-project-related-section-page>
                        </template>
                    </template>
                </div>
            </template>
            <!-- NO SECTIONS -->
            <template if:true={isNoSectionPerObject}>
                <div class="panel-body">
                    <c-gp-l-w-c-p-i-d-approver-project-related-section-page
                        lookup-mappings={_lookupMappings}
                        sectionfields={sectionFields}
                        related-object-records-to-show={relatedObjectRecordsToShow}
                        ongpfileurl={handleViewFile}>
                    </c-gp-l-w-c-p-i-d-approver-project-related-section-page>
                </div>                
            </template>
            <!-- Change summary section -->
            <template if:true={isChangeSummary}>
                <c-gp-l-w-c-p-i-d-approver-project-change-summary
                change-summary-sections={changeSummarySections}
                change-summary-section-details={changeSummarySectionDetails}
                change-summary-error-message={changeSummaryErrorMessage}>
                </c-gp-l-w-c-p-i-d-approver-project-change-summary>
            </template>
            <template if:false={isChangeSummary}>
                <div style="text-align: center;
                font-size: 12px;
                color: #093463 !important;">{changeSummaryErrorMessage}</div>                
            </template>
            <!-- PID summary section -->
            <template if:true={isPIDSummary}>
                <c-gp-l-w-c-p-i-d-approver-project-p-i-d-summary
                    pid-summary-section-details={pIDSummarySectionDetails}>
                </c-gp-l-w-c-p-i-d-approver-project-p-i-d-summary>
            </template>
        </div>
    </div>
    <!-- View Document -->
    <div data-div-id="myViewFileModal" class="modal fade hide" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="top: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick={handlePopupDisplay}>&times;</button>
                    <h4 class="modal-title">View File</h4>
                </div>
                <div class="modal-body">
                    <iframe src={fileURL} width="100%" height="400px"></iframe>
                </div>                
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick={handlePopupDisplay}>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>