<template>
    <div data-div-id="pid_summary_table" class="table-responsive">
        <table class="serachTable3 table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th style="width: 50%;">Field Name</th>
                    <th style="width: 50%;">Field Value</th>
                </tr>
            </thead>
            <tbody>
                <template for:each={listOfPaginatedRecords}
                for:item="psts">
                    <tr key={psts.key}>
                        <td class="tdSub">
                            {psts.fieldLabel}                            
                        </td>
                        <td>
                            <template if:true={psts.isReference}>
                                <c-gp-l-w-c-custom-lookup
                                    object-name={psts.referenceName}
                                    searchfield={psts.searchfield}
                                    disabled
                                    referencetype={psts.referencetype}
                                    reference-id={psts.value}
                                    filter-string=""
                                    iconname="custom:custom88"
                                    display-text-fields={psts.displayTextFields}
                                    search-placeholder-message={psts.placeholderValue}
                                >
                                </c-gp-l-w-c-custom-lookup>
                            </template>
                            <template if:true={psts.isField}>
                                <!-- checked -->
                                <template if:true={psts.isCheckBox}>
                                    <lightning-icon icon-name={psts.iconname} size="small"></lightning-icon>
                                </template>
                                <template if:false={psts.isCheckBox}>
                                    <div class="wrapCSS">{psts.value}</div>
                                </template>                                
                            </template>
                            <!-- unchecked -->
                            <template if:true={psts.isNotChecked}>
                                <lightning-icon icon-name={psts.iconname} size="large"></lightning-icon>
                            </template>
                            <!-- picklist -->
                            <template if:true={psts.isPicklist}>
                                <c-gp-l-w-c-custom-picklist
                                    is-not-readonly={psts.isNotReadonly}
                                    selected-value={psts.value}
                                    objectname={psts.objectname}
                                    fieldname={psts.fieldname}>
                                </c-gp-l-w-c-custom-picklist>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <!-- PAGINATION FOR CHANGE SECTION -->
    <template if:true={islistNotEmpty}>
        <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination
            customrecordcount=8
            list-of-original-records={pidSummarySectionDetails}
            ongpupdatedlistcustomevent={handleListUpdate}>
        </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
    </template>
</template>