.THIS .button{
    background-color : #00D26A;
    border : 1px solid #00D26A;
 
}
.THIS .button:focus
{
   background-color : #00D26A;
   border : 1px solid #00D26A;
}
.THIS .Date_padding{
    padding-left : 4%;
    
}
.THIS a.datePicker-openIcon.display{
    margin: -11% 0 0% 100%;
}