.THIS{
    max-height: 100%;
    max-width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.THIS .cstm-width{
    max-width:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .slds-button.slds-button_brand{
    width: 100%;
    border-radius: 0;
    height: 3.5rem;
    font-size: 1.1rem;
}

.THIS .overflowScrollCls{
   overflow:scroll;
}
.THIS .ApproveColor{
   background-color: #049504!important;
}
.THIS .QueryColor{
   background-color: #D3CE00!important;
}
.THIS .HeaderColor{
   background-color: #00AED0!important;
}

.THIS .footer-to-be-fixed{
position: fixed;
bottom: 0;
/*transform: translate3d(0,0,0);*/
}
.THIS .slds-modal__container{
    
    height:40%!important;
}

.THIS .selectcolor td{
   background-color:#F8FFAD!important;
   border-top:1px solid #999B76!important;
   border-bottom:1px solid #999B76!important;
}