.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}
.THIS .DatePicker .slds-form-element .slds-form-element__label,.THIS .DatePicker .slds-form-element .slds-form-element__icon
{
    display:none;
}
.THIS .SignatureOutput .slds-form-element__control
{
border-radius: .25rem;
border: 1px solid rgb(221, 219, 218);
padding: 6px;
background-color: #ecebea;
}
.THIS .slds-icon-action-info{
    padding:0;
}