.THIS.slds-scope .slds-table thead th {
    background-color: #E8F3FB;
    color:rgb(81, 79, 77);
    padding:.5rem;
}
.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 20px !important;
}