.THIS .dtWidth {
  width:35% !important;
    margin-bottom:5px;
    float:left;
}
.THIS .ddWidth {
  width:50% !important;
  margin-bottom:5px;
    float : left;
}
@media (max-width: 580px) {
 .THIS .dtWidth {
  width:50% !important;
    margin-bottom:5px;
        font-Size:13px; 
        float:left;
}
}
@media (max-width: 580px) {
  .THIS .ddWidth {
  width:50% !important;
  margin-bottom:5px;
        font-Size:13px;  
}
}
.THIS .QsrmDiv
{
    display:block;
    width:100%;
    border-bottom:1px solid #ccc;
    padding: 0.5rem 0 0 1rem;
}

.THIS.qsrmBox{
   
    border:1px solid #ccc;
    border-radius:0.25rem;
    background-color:#fff;
}
.THIS .qsrmDivBg
{
    background-color:#ffffff;
    float:left;
}
.THIS .penQsrmBtn
{
    margin-top:.75rem;
}