<template>
    <div class="wrapper">
        <!-- START : Error Section -->
        <template if:true={error}>
            <p>Error: {error}</p>
            <p>Info: {stack}></p>
        </template>
        <!-- END : Error Section -->
        <template if:false={error}>
            <!-- START : Show spinner -->
            <template if:true={isShowSpinner}>
                <div>
                    <lightning-spinner alternative-text="Loading" size="small" variant="brand"></lightning-spinner>
                </div>
            </template>
            <!-- END : Show spinner -->
            <template if:false={showComponent}>
                <div style="width: 100%;
                text-align: center;
                height: 20px;
                font-weight: bold;">
                Loading the PIDs for Approval.....</div>
            </template>
            <template if:true={showComponent}>
                <!-- START : Home page filer -->
                <c-gp-l-w-c-p-i-d-approver-home-page-filter
                    list-of-all-pending-p-i-ds={listOfAllPendingPIDs}>
                </c-gp-l-w-c-p-i-d-approver-home-page-filter>
                <!-- END : Home page filer -->
            </template>
        </template>
    </div>    
</template>