.THIS .slds-path{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.THIS .slds-icon_container{
    margin-right:3px !important;
}
.THIS .slds-path__nav .slds-is-complete .slds-path__title {
    transform: rotateX(0deg) !important;
}