.THIS .textarea .uiInput .uiInputTextArea .uiInput--default .uiInput--textarea{
    width:100% !important;
}
.THIS .buttonClass{
    /*float:right !important;*/
}
.THIS.c-container {
    border: 1px solid #d8dde6;
    
}

.THIS .custom-box {
   
    
}
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: 	rgb(255,0,0);
    float: left; 
}  
.THIS .slds-required {
    color: rgb(255, 0,0);
    margin: 0 .125rem;
}
.THIS .customLabel .slds-form-element .slds-form-element__label,.THIS .slds-form-element .slds-form-element__icon
{
    display:none;
}

.THIS .slds-form-element__label{
    color: rgb(25, 37, 56) !important;
    font-size: .80rem !important;
}
.THIS .slds-grid, .THIS .slds-wrap{
    padding-left:2rem !important;
    padding-right:2rem !important;
}
.THIS .slds-p-around_small{
    float:right !important;
}
.THIS .slds-p-around_medium, .THIS .slds-p-around--medium{
	padding-left:1rem !important;
    padding-right:1rem !important;    
    padding-top:0.6rem !important;
    padding-bottom:0.2rem  !important;    
}
.THIS .customLabelSummary .slds-form-element .slds-form-element__label 
{
    display:none !important;
}
.THIS .slds-form-element__control .buttonClass{
     float:right !important;
}