<template>
    <div class="wrapper">
        <c-gp-l-w-c-p-i-d-approver-project-header-page
            record-id={recordId}
            back-image-url={backImageUrl}>
        </c-gp-l-w-c-p-i-d-approver-project-header-page>
        <div class="pidTabs">
            <!-- Project Detail LWC -->
            <c-gp-l-w-c-p-i-d-approver-project-detail-container
                record-id={recordId}>
            </c-gp-l-w-c-p-i-d-approver-project-detail-container>
            <!-- Approval History LWC, only table js is left -->
            <c-gp-l-w-c-p-i-d-approver-project-approval-history-container
                record-id={recordId}>
            </c-gp-l-w-c-p-i-d-approver-project-approval-history-container>
        </div> 
        <c-gp-l-w-c-p-i-d-approver-footer-page></c-gp-l-w-c-p-i-d-approver-footer-page>
    </div>
</template>