<template>
    <template for:each={relatedSections}
    for:item="css">
        <div data-div-id={css.keyid} key={css.key} class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-div-id={css.key} data-attribute-index={css.key} class="collapsed" onclick={handleChangeSection}>
                    {css.value}
                </a>
            </h4>
        </div>
        <div key={css.key} class="panel-body">
            <template if:true={css.isSelected}>
                <template if:true={css.isDetailed}>
                    <c-gp-l-w-c-change-summary-table-sub-component 
                    key={css.key}
                    details={changeSummaryToShow}>
                    </c-gp-l-w-c-change-summary-table-sub-component>
                </template>
                <template if:false={css.isDetailed}>
                    <div data-div-id="change_summary_table" class="table-responsive">
                        <table class="serachTable3 table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th style="width: 33%;">Field Name</th>
                                    <th style="width: 33%;">New Value</th>
                                    <th style="width: 33%;">Old Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={listOfPaginatedRecords}
                                for:item="csts">
                                    <tr key={csts.key}>
                                        <td class="tdSub">
                                            {csts.fieldLabel}
                                        </td>
                                        <td>
                                            {csts.newValue}
                                        </td>
                                        <td>
                                            {csts.oldValue}
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <!-- PAGINATION FOR CHANGE SECTION -->
                    <template if:true={islistNotEmpty}>
                        <c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination
                            list-of-original-records={changeSummaryToShow}
                            ongpupdatedlistcustomevent={handleListUpdate}>
                        </c-gp-l-w-c-p-i-d-approver-home-page-list-view-pagination>
                    </template>
                </template>
            </template>            
        </div>
    </template>    
</template>