.THIS{
    max-height: 100%;
    max-width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.THIS .cstm-width{
    max-width:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS button.slds-button.slds-button_brand{
    width: 100%;
    border-radius: 0px;
    height: 3.5rem;
    font-size: 1.1rem;
}
.THIS .approveBTNColour{
    background-color: green;
}
.THIS .custm-vertical-align-botom{
    position: fixed;
    vertical-align: bottom;
}

.THIS.c-container {
    margin: 10px 0 20px 0;
    background:white;
    width:100%;
}

.THIS .footer-to-be-fixed{
	position: fixed;
	bottom: 0;
	transform: translate3d(0,0,0);
}

.THIS .header {
	background:red;
	height:50px;
	width:100%;
	position:fixed;
	top:0;
	left:0;    
}
.THIS .scroller {
	height:300px; 
	overflow:scroll;    
}
.THIS .userSelectedCSS{
    background-color: #ffff99 !important;
}