.THIS.editable-container {
    position:relative;
}
.THIS .icon-container{
    position:absolute;
    z-index: 1;
    right: 3px;
}
.THIS input[type=number]::-webkit-inner-spin-button, 
.THIS input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}