.THIS .no-mrgin label {
    margin: 0px;
}

.THIS {
    background-color: #fff;
}

.THIS .slds-section__content {
    visibility: unset;
    display: none;
}

.THIS .cstm-checkbox input[type="checkbox"] {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.THIS .cloneFeature {
    display: inline-block;
    float: left;
}

.THIS .labelCloneFeature {
    padding-left: 10px;
}

.THIS .disabled2 .slds-pill-container {
    background: #eee !important;
    color: #3e3e3c;
    border: 1px solid #a8b7c7;
    min-height: 32px;
    padding: 0 1rem 0 .75rem;
}

.THIS .uiInput--radio {
    position: relative;
}


.THIS .uiInput--radio input[type=radio] {
    float: left;
    position: absolute;
    left: 0;
    top: 3px;
}

.THIS .radioLabel {
    cursor: pointer;
    padding-left: 21px;
    display: inline-block;
    font-weight: normal;
}

.THIS .employeeLookup .slds-lookup__Custom {
    position: relative;
}
.THIS .inline-form .slds-form-element__control{
    clear:inherit;
}