<template>    
    <template if:true={isPaginationEnabled}>
        <div class="slds-p-around_medium">
            <div class="slds-grid slds-wrap slds-gutters">
                <div class="slds-size_3-of-12 slds-text-align_center">
                    <div style="padding: 7px;font-size: 11px;">&nbsp;</div>
                </div>
                <div class="slds-size_2-of-12 slds-text-align_center">
                    <a if:true={isShowPrevious} onclick={handlePrevious}><div style="padding: 7px;font-size: 11px;"><b>PRE</b></div></a>
                    <div if:false={isShowPrevious} style="padding: 7px;font-size: 11px;">&nbsp;</div>
                </div>
                <template
                    for:each={listOfCountsToShow}
                    for:item="count"
                    for:index="index">
                    <div key={count} class="slds-size_1-of-12 slds-text-align_center">
                        <a data-attribute-index={count} onclick={handleCurrentPage}>
                            <div data-div-id={count} style="padding: 7px;font-size: 11px;">
                                <!-- Create a LWC so that callback func can be used to add the class if count === currentPageNo -->
                                <!--<b>{count}</b>-->
                                <c-gp-l-w-c-pagination-count
                                    count={count}
                                    current-page-no={currentPageNo}
                                    ongplwccount={updateCSSOfSelectedPage}>
                                </c-gp-l-w-c-pagination-count>
                            </div>
                        </a>
                    </div>
                </template>
                <div class="slds-size_2-of-12 slds-text-align_center">
                    <a if:true={isShowNext} onclick={handleNext}><div style="padding: 7px;font-size: 11px;"><b>NXT</b></div></a>
                    <div if:false={isShowPrevious} style="padding: 7px;font-size: 11px;">&nbsp;</div>
                </div>
                <div class="slds-size_2-of-12 slds-text-align_center">
                    <div style="padding: 7px;font-size: 11px;">&nbsp;</div>
                </div>
            </div>
        </div>
        <!--        
        currentPageNo : {currentPageNo}
        -->
    </template>
</template>