/*
    The CSS file to be of same name as others sub components but with .css extension. Else CSS will not be picked.
    I added CSS postfix in the file name and css was not picked in .html component. So be careful.
*/
.selectedBorder {
    border: 2px;
    border-style: solid;
    border-radius: 5px;
}
.divpadding {
    padding: 5px;
}